﻿
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDYbadKvPbz35-4NiP46cI7XMqoYUzfz-k&sensor=false"></script>
	<script type="text/javascript" src="~/Scripts/geoxml3.js"></script>
    <script type="text/javascript" src="~/Scripts/county.js"></script>
    <style type="text/css">
	    html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
	    #map_canvas { height: 100% }
    </style>

    <div id="map_canvas" style="width:79%; height:100%; float:left"></div>
