
    <div id='__div_data_dialog' class='content' style="display:none">
    	<div id='__div_content'></div>
        <br/>
        <div style="text-align:right">
        	<span id='__ok_button' class="link_text">OK</span>&#160;<span id='__cancel_button' class="link_text">Cancel</span>
        </div>
    </div>

    <div id='__div_wait_dialog' class='content' style="display:none">
        <br />Please wait while processing the request...
    </div>

    <div id='__div_ballot_wait_dialog' class='content' style="display:none">
        <br />Please wait while processing the request...
        <br />
        <center><img src="/Images/animated_ballot_box.gif" /></center>
    </div>

    <div id='__div_message_dialog' class='content' style="display:none">
        <div id='__div_content'></div>
        <br />
        <div style="text-align:right"><span id='__close_button' class="link_text">Close</span></div>
    </div>
