﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
        <meta charset="utf-8" />
        <title>Leap - @ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="~/Content/main.css" />
        <!--<link rel="stylesheet" href="~/Content/bootstrap.css" />
        <link rel="stylesheet" href="~/Content/Site.css" />-->
        <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
        <script type="text/javascript" src="~/Scripts/dropdown.js"></script>
        <!--<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>-->
        <script type="text/javascript" src="~/Scripts/dialog_script.js"></script>
        <!--<script type="text/javascript" src="~/Scripts/ajax_request.js"></script>-->
        <script type="text/javascript" src="~/Scripts/support_text.js"></script>
        @RenderSection("scripts", required: false)

    </head>
    <body>
        <div style="width:100%">
            <table style="width:960px;height:130px" class="loc_center">
                <tr>
                    <td style="width:50%;vertical-align:central;" align="left"><a href="~/"><img src="~/Images/Leap-logo.png" /></a></td>
                    <td style="width:50%;vertical-align:central;" align="right">@Html.Partial("_MenuPartial")</td>
                </tr>
            </table>

            <div class="loc_center" style="margin:0;padding:0">
                <img src="~/Images/color-band.png" />
            </div>

            <div id="body" class="container-fluid" style="width:100%;padding:0;margin:0;margin-top:-8px;">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div>

        <br />
        <div style="width:100%;height:120px;background-color:#E73830;font-size:14px">
            <table style="width:960px" class="loc_center">
                <tr>
                    <td style="width:25%;color:#ffffff;padding:8px;margin:8px;">
                        <div>
                            <div style="vertical-align:top;float:left;margin-top:0px">STAY IN TOUCH</div>
                            <div style="vertical-align:top;float:left;margin-left:10px">
                                <img src="~/Images/facebook-icon.png" />
                                <img src="~/Images/twitter-icon.png" />
                            </div>
                        </div>
                    </td>
                    <td style="width:40%;color:#ffffff;padding:8px;margin:8px;">
                        <div>
                            <div style="vertical-align:top;float:left;margin-top:14px">SPONSORS</div>
                            <div style="vertical-align:top;float:left;margin-left:10px">
                                <img src="~/Images/k2i.png" />
                                <img src="~/Images/nse.png" />
                                <img src="~/Images/rice.png" />
                                <img src="~/Images/uwm-rec.png" />
                            </div>
                        </div>                         
                    </td>
                    <td style="width:35%;color:#ffffff;padding:8px;margin:8px;">
                        <div>
                            <div style="vertical-align:top;float:left;margin-top:6px">CONTACT US</div>
                            <div style="vertical-align:top;float:left;color:#000000;margin-left:10px">marschal@rice.edu 713.348.2694</div>
                            <div style="vertical-align:top;float:left;color:#000000;margin-left:10px">shahp@uwm.edu 414.229.3979</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
