﻿@if (Request.IsAuthenticated)
{
    <td align="left">
        <li class="dropdown" id="login">
            <a class="dropdown-toggle menu_text" data-toggle="dropdown" href="#">@User.Identity.Name.ToUpper() <b class="caret"></b></a>
            <ul class="dropdown-menu menu_text">
                @if (User.IsInRole("Admin"))
                {
                    if (Request.Params["view"] == "edit")
                    {
                        <li class="menu_text"><a href="@Request.Url.GetLeftPart(UriPartial.Path)">To View Mode</a></li>
                    }
                    else
                    {
                        <li class="menu_text"><a href="@Request.Url?view=edit">To Edit Mode</a></li>
                    }
                    <li class="menu_text">@Html.ActionLink("View Poll Data Logs", "Index", "Log")</li>
                    <li class="menu_text">@Html.ActionLink("View Page Edit Logs", "Index", "PageEditLog")</li>
                    <li class="menu_text">@Html.ActionLink("Register Users", "Register", "Account")</li>
                    <li class="menu_text">@Html.ActionLink("View/Edit Users", "Index", "Account")</li>
                }
                <li class="menu_text">@Html.ActionLink("Change Password", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
                <li class="menu_text">@Html.ActionLink("LogOff", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "login" })</li>
            </ul>
        </li>
    </td>
}
else
{
    <td class="menu_text" id="login" align="left">@Html.ActionLink("LogIn", "Login", "Account", routeValues: new { returnUrl=Request.Path }, htmlAttributes: new { id = "login" })</td>
}
