﻿<table cellspacing="0" cellpadding="0" id="menu_table">
    <tr class="nav nav-pills">
        <td class="menu_text" id="home" align="left">@Html.ActionLink("Home", "Index", "Home")</td>
        <td style="width:110px">&nbsp;</td>
        <td class="menu_text" id="publication" align="left">@Html.ActionLink("Publications", "Index", "Publication")</td>
    </tr>
    <tr class="nav nav-pills">
        <td class="menu_text" id="about" align="left">@Html.ActionLink("About Us", "About", "Home")</td>
        <td style="width:110px">&nbsp;</td>
        <td class="menu_text" id="service" align="left">@Html.ActionLink("Services", "Index", "Service")</td>
    </tr>
    <tr class="nav nav-pills">
        <td class="menu_text" id="product" align="left">@Html.ActionLink("Products", "Index", "Product")</td>
        <td style="width:110px">&nbsp;</td>
        <td class="menu_text" id="membership" align="left">@Html.ActionLink("Membership", "Index", "Member")</td>
    </tr>
    <tr class="nav nav-pills">
        <td class="menu_text" id="data" align="left">@Html.ActionLink("Data", "Index", "Poll")</td>
        <!--<td align="left">
            <li class="dropdown menu_text" id="data">
                <a class="dropdown-toggle menu_text" data-toggle="dropdown" href="#">Data <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="menu_text">@Html.ActionLink("Availability", "Index", "Poll", new {tab="av"}, null)</li>
                    <li class="menu_text">@Html.ActionLink("Extraction Old", "Ext_old", "Poll", new {tab="ex"}, null)</li>
                    <li class="menu_text">@Html.ActionLink("Extraction New", "Index", "Poll", new {tab="ex"}, null)</li>
                </ul>
            </li>
        </td>-->
        <td style="width:110px">&nbsp;</td>
        @Html.Partial("_LoginPartial")
    </tr>
</table>
