﻿@model IEnumerable<Leap.Models.UserInfo>

@{
    ViewBag.Title = "View/Edit Users";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function ()
        {
            // change the text color to silver when users are not active
            $("tr[role='']").css('color', 'silver');

            $("td[id^='td_activate_']").click(function ()
            {
                //alert($(this).attr('uid'));
                change_user_role($(this).attr("name"), "", "Guest");
                return false;
            });

            $("td[id^='td_deactivate_']").click(function ()
            {
                //alert($(this).attr('uid'));
                change_user_role($(this).attr("name"), "Guest", "");
                return false;
            });
        });

        function change_user_role(user_name, old_user_role, new_user_role)
        {
            var ajax_dict = {
                type: "POST",
                url: "/Account/ChangeRole/?userName=" + user_name + "&oldRoleName=" + old_user_role + "&newRoleName=" + new_user_role + "&i=" + (new Date()).getTime(),
                dataType: "json",
                //data: input_data,
                processData: false,
                //processData: true,
                async: false,
                beforeSend: function () { change_user_role_before(); },
                complete: function (XMLHttpRequest) { change_user_role_complete(); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { change_user_role_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { change_user_role_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function change_user_role_before()
        {
        }

        function change_user_role_complete()
        {
        }

        function change_user_role_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function change_user_role_succeeded(result, textStatus)
        {
            if (!!result.error)
            {
                alert(result.error);
                return false;
            }

            if (result.role_name != "")
            {
                alert("The user '" + result.user_name + "' has been successfully activated.");
            }
            else
            {
                alert("The user '" + result.user_name + "' has been successfully deactivated.");
            }
            window.open("/Account/", "_self");
        }

    </script>
}

    <div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
        <div style="width:960px;" class="loc_center">
            <h1 style="height:50px;line-height:50px">@ViewBag.Title</h1>
        </div>
    </div>
    <br />

    <div class="container-fluid loc_center" style="height:10px;width:960px;">&nbsp;</div>
    <br />

    <div class="container-fluid loc_center" style="height:10px;width:960px;">&nbsp;</div>
        <center>
        <table id="user_table" class="table-bordered">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model) {
                    <tr id="tr_user_@item.UserId" role="@item.UserRole">
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <!--<td>@Html.DisplayFor(modelItem => item.UserRole)</td>-->
                        <td>Guest</td>
                        @if (item.UserRole == "")
                        {
                            <td id="td_activate_@item.UserId" uid="@item.UserId" name="@item.UserName" role="@item.UserRole"><a href="#">Activate</a></td>
                        }
                        else
                        {
                            <td id="td_deactivate_@item.UserId" uid="@item.UserId" name="@item.UserName" role="@item.UserRole"><a href="#">Deactivate</a></td>
                        }
                    </tr>
                }

            </tbody>
        </table>
        </center>
    </div>
