﻿@model Leap.Models.LoginModel

@{
    ViewBag.Title = "Log In";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#menu").find("li").each(function () {
                $(this).removeClass("active");
            });
            $("#menu").find("#login").addClass("active");
        });
    </script>
}

    <div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
        <div style="width:960px;" class="loc_center">
            <h1 style="height:50px;line-height:50px">LogIn</h1>
        </div>
    </div>
    <br />

    <div class="container-fluid loc_center" style="height:10px;width:960px;">&nbsp;</div>
    <br />

    <div class="loc_center" style="width:960px;text-align:center;font-size:25px">
        Login to access the full database and additional information.<br />
    </div>
    <br />

    <div class="container-fluid loc_center" style="height:10px;width:960px;">&nbsp;</div>

    <div class="container-fluid loc_center" style="width:960px">
        <table class="loc_center">
            <tr>
                <td>
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName)

                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)

                            <div class="container-fluid">
                                <div style="float:left;margin-left:-20px">@Html.CheckBoxFor(m => m.RememberMe)</div>
                                <div style="float:left;margin-top:6px;margin-left:5px">
                                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                                </div>
                                <div style="float:left;margin-top:6px;margin-left:10px;margin-left:20px;font-size:12px;font-style:italic;">
                                    <a href="ResetRequest/">Forgot Password?</a>
                                </div>
                            </div>
                            <div style="margin-left:100px">
                                <input type="submit" value="Log in" style="height:40px" />
                            </div>
                        </fieldset>
                    }
                </td>
            </tr>
        </table>
    </div>

<!--<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>-->

