﻿@model Leap.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#menu").find("li").each(function () {
                $(this).removeClass("active");
            });
            $("#menu").find("#login").addClass("active");
        });
    </script>
}

    <div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
        <div style="width:960px;" class="loc_center">
            <h1 style="height:50px;line-height:50px">@ViewBag.Title</h1>
        </div>
    </div>
    <br />

    <div class="loc_center" style="text-align:center;font-size:20px">
        @Html.Raw(ViewBag.StatusMessage)
    </div>

<!--<p>You're logged in as <strong>@User.Identity.Name.ToUpper()</strong>.</p>-->

    <div class="container-fluid loc_center" style="height:10px;width:960px;">&nbsp;</div>

    <div class="container-fluid loc_center" style="width:960px">
        <table class="loc_center">
            <tr>
                <td>
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                    else
                    { 
                        @Html.Partial("_SetPasswordPartial")
                    }
                </td>
            </tr>
        </table>
    </div>
