﻿@model Leap.Models.RegisterModel
@{
    ViewBag.Title = "Register Users";
}


    <div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
        <div style="width:960px;" class="loc_center">
            <h1 style="height:50px;line-height:50px">Register Users</h1>
        </div>
    </div>
    <br />

    <div class="container-fluid loc_center" style="height:10px;width:960px;">&nbsp;</div>
    <br />

    <div class="loc_center" style="width:960px;text-align:center;font-size:25px">
        Use the registration form to create a new account.
    </div>
    <br />

    <div class="loc_center" style="text-align:center;font-size:20px">
        @Html.Raw(ViewBag.StatusMessage)
    </div>

    <div class="container-fluid loc_center" style="height:10px;width:960px;">&nbsp;</div>

    <div class="container-fluid loc_center" style="width:960px">
        <table class="loc_center">
            <tr>
                <td>
                    @using (Html.BeginForm()) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <fieldset>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName)

                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)

                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword)

                            @Html.LabelFor(m => m.UserRole)
                            @Html.DropDownListFor(m => m.UserRole, new SelectList(
                              new List<Object>{ 
                                   new { value = "Admin", text = "Admin"  },
                                   //new { value = "Manager", text = "Manager" },
                                   //new { value = "Member", text = "Member" },
                                   new { value = "Guest", text = "Guest" }
                                },
                              "value",
                              "text",
                               "Guest"))

                            <div style="margin-left:100px;margin-top:10px">
                                <input type="submit" value="Register" style="height:40px" />
                            </div>
                        </fieldset>
                    }
                </td>
            </tr>
        </table>
        <br />
    </div>
