﻿@model Leap.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}

<div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
    <div style="width:960px;" class="loc_center">
        <h1 style="height:50px;line-height:50px">Reset Password</h1>
    </div>
</div>
<br />

<div class="container-fluid loc_center" style="width:960px">
    <table class="loc_center">
        <tr>
            <td>
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <fieldset>
                        <ol>
                            <li>
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password)
                            </li>
                            <li>
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword)
                            </li>
                        </ol>
                        @Html.HiddenFor(m => m.ResetToken)
                        <input type="submit" value="Reset" />
                    </fieldset>
                }
            </td>
        </tr>
    </table>
</div>
