﻿@model Leap.Models.ResetPasswordRequestModel
@{
    ViewBag.Title = "Request Password Reset";
}

<div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
    <div style="width:960px;" class="loc_center">
        <h1 style="height:50px;line-height:50px">Password Reset Request</h1>
    </div>
</div>
<br />

<div class="container-fluid loc_center" style="width:960px">
    <table class="loc_center">
        <tr>
            <td>
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    @ViewBag.Message<br />

                    <fieldset>
                        <ol>
                            <li>
                                @Html.LabelFor(m => m.UserName)
                                @Html.TextBoxFor(m => m.UserName)
                            </li>
                            <li>
                                @Html.LabelFor(m => m.EmailAddress)
                                @Html.TextBoxFor(m => m.EmailAddress)
                            </li>
                            <li>
                                @Html.LabelFor(m => m.ConfirmEmailAddress)
                                @Html.TextBoxFor(m => m.ConfirmEmailAddress)
                            </li>
                        </ol>
                        <input type="submit" value="Send" />
                    </fieldset>
                    <input type="hidden" value="@ViewBag.ResetToken" /><br />
                }
            </td>
        </tr>
    </table>
</div>
