﻿@{
    ViewBag.Title = "Demo/Samples";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#menu").find("li").each(function () {
                $(this).removeClass("active");
            });
            $("#menu").find("#demo").addClass("active");
        });
    </script>
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
