﻿@{
    ViewBag.Title = "Tools";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#menu").find("li").each(function () {
                $(this).removeClass("active");
            });
            $("#menu").find("#tool").addClass("active");
        });
    </script>
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
