﻿
@model IEnumerable<Leap.leap_log>

@{
    ViewBag.Title = "Log List";
}

@using Leap.Helpers

<div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
    <div style="width:960px;" class="loc_center">
        <h1 style="height:50px;line-height:50px">Poll Data Event Logs</h1>
    </div>
</div>
<table id="log_list_table" class="table-bordered" style="width:100%;font-size:12px">
    <thead>
        <tr>
            <th>Date</th>
            <th>User Name</th>
            <th>User IP</th>
            <th>Method</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayDateTime(item.log_date)</td>
                <td>@Html.DisplayFor(modelItem => item.user_name)</td>
                <td>@Html.DisplayFor(modelItem => item.client_ip)</td>
                <td>@Html.DisplayFor(modelItem => item.method)</td>
                <td>@Html.DisplayFor(modelItem => item.message)</td>
            </tr>
        }

    </tbody>
</table>
