﻿@model IEnumerable<Leap.leap_page_edit_log>

@{
    ViewBag.Title = "Page Edit Log List";
}

@using Leap.Helpers

<div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
    <div style="width:960px;" class="loc_center">
        <h1 style="height:50px;line-height:50px">Page Edit Event Logs</h1>
    </div>
</div>
<table id="page_edit_log_list_table" class="table-bordered" style="width:100%;font-size:12px">
    <thead>
        <tr>
            <th>Date</th>
            <th>User Name</th>
            <th>User IP</th>
            <th>Title</th>
            <th>Old Text</th>
            <th>New Text</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayDateTime(item.modified_time)</td>
                <td>@Html.DisplayFor(modelItem => item.modified_by)</td>
                <td>@Html.DisplayFor(modelItem => item.client_ip)</td>
                <td>@Html.DisplayFor(modelItem => item.text_block_name)</td>
                <td>@Html.DisplayFor(modelItem => item.old_text)</td>
                <td>@Html.DisplayFor(modelItem => item.new_text)</td>
            </tr>
        }

    </tbody>
</table>
