﻿

html {
    /*margin: 1em;
	padding: 1em;*/
}

body {
    margin:0px;
    padding:0px;
	font-family: 'Titillium Web', sans-serif;
	font-size:15px;
}

b {
	font-weight:700;
}

a {
	text-decoration:none;
	color:#EE3824;
}
a:hover {
	color:#BA2B20;
}

div .focused a {
	color:#0075BD;
}
div .black a {
	color:#000000;
}

td .focused a {
	color:#0075BD;
}

h1 {
	color:#000000;
	font-size:36px;
	font-weight:400;
}
h1.title {
	text-transform:uppercase;
	font-weight:700;
	color:#5A5A5A;
	font-size:15px;
	letter-spacing:1px;
}
h2 {
	color:#EE3824;
	font-size:28px;
	font-weight:400;
}
h3 {
	font-size:18px;
	text-transform:uppercase;
	letter-spacing:1px;
}
hr {
	background-color:#BFBFBF;
	margin:30px 0px;
	height: 1px;
	border:0px;
    margin-right:15px;
}

div .content12 {
    font-size: 12px;
}

.loc_center
{ 
    margin-left: auto;
    margin-right: auto;
}
 
.text_center
{ 
    text-align: center;
}

.text_left {
    text-align:left;
}

.text_right {
    text-align:right;
}

.tab_title {
    font:Titillium Web;
    font-weight:700;
}

.col-2-div {
	-webkit-column-count: 2;
	-webkit-column-gap: 40px;
	/*-webkit-column-rule: 8px solid #ffffff;*/

	-moz-column-count: 2;
	-moz-column-gap: 40px;
	/*-moz-column-rule: 8px solid #ffffff;*/

	/*font-size:12px;*/
}

.col-3-div {
	-webkit-column-count: 3;
	-webkit-column-gap: 40px;
	/*-webkit-column-rule: 8px solid #ffffff;*/

	-moz-column-count: 3;
	-moz-column-gap: 40px;
	/*-moz-column-rule: 8px solid #ffffff;*/

	/*font-size:12px;*/
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
} 
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.menu_text a {
  color: #8C8E91;
  text-decoration: none;
  /*font-family:Helvetica;*/
  font-weight:normal;
  font-size:12pt;
}

.date_box {
    border:solid;
    border-width:1px;
    border-color:#0075BD;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius:5px;
    height:54px;
    width:50px;
    color:white;
    background-color:#0075BD;
    padding:2px;
    line-height:1.5em;
    text-align:center;
    float:left;
    margin-right:15px;
}

.round_box {
    border:solid;
    border-width:1px;
    border-color:#ffffff;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
}

.date_box .month {
    font-size:16px;
    letter-spacing:2px;
    text-align:center;
    margin-left:1px;
}

.date_box .day {
    font-size:30px;
    font-weight:600;
}

.date_desc {
    margin-left: 60px;
    vertical-align: top;
}

.date_desc .link {
    color:#FFC000;
    font-weight:bold;
}

.yellow_link {
    color:#FFC000;
    font-weight:bold;
}

.trans_text {
    position: absolute;
    margin-top: -40px;
    background-color: rgba(243, 245, 248, 0.8);
    color: #5A5A5A;
    font-size:18px;
    font-weight: bold;
    width: 180px;
    height:42px;
    text-align:center;
    padding:8px;
}

.trans_text .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align:top;
    border-top: 6px solid #000000;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    margin-top: 5px;
    margin-left: 2px;
}

.trans_text a {
	text-decoration:none;
	color:#5A5A5A;
}
.trans_text a:hover {
    text-decoration:none;
	color:#5A5A5A;
}

.focused {
	color:#0075BD;
}

.link_text {
    color: #a80329;
    text-decoration:none;
    font-weight: bold;
    cursor:pointer;	/* for link_text */
}

.link_text:hover {
    text-decoration: underline;
    cursor:pointer;	/* for link_text */
}


/*=========== BUTTONS ===========*/			
.btn {
	cursor: pointer;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-bottom: 0px;
	padding:9px 18px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:10px;

}
.btn.yellow {
	background-color: #FFD966;
	color: #5A5A5A;
}
.btn.yellow:hover{
	background-color: #FFC000;
}
.btn.red {
	background-color: #EE3824;
	color: #FFFFFF;
}
.btn.red:hover{
	background-color: #BA2B20;
}
.btn.innactive {
	background-color: #B3B3B3;
	color: #FFFFFF;
}
.btn.small {
	padding:5px 10px;
	font-size:13px;
}
.color-block {
	height:60px;
	width:80px;
	color:#ffffff;
	text-align:center;
	vertical-align: middle;
	float:left;
	margin:5px;
	padding-top:20px;
	display:block;
}
			

/*=========== TABLE ===========*/

.table-bordered {
	border-collapse: collapse;
	*border-collapse: collapse;
}
.table-bordered thead {
	background-color: #FFC000;
	border:0px;
	margin:20px;
	text-transform: uppercase;
	font-size:14px;
}			
.table-bordered tbody{
	border: 1px solid #BFBFBF;
	border-left: 0;
}
.table-bordered th {
	padding:9px 18px;
	border:1px solid #FFC000;
}
.table-bordered td {
	border-left: 1px solid #BFBFBF;
	border-top: 1px solid #BFBFBF;
	padding:9px 18px;
}

/*=========== FORMS ===========*/
form {
	background-color:#E0EEF6;
	border:1px solid #99C8E5;
	width:300px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:20px 10px;
	font-family: 'Titillium Web', sans-serif;
}
fieldset {
	border:0px;
}

label {
	display: block;
	margin-bottom: 5px;
	text-transform:uppercase;
	font-weight:700;
	color:#000000;
	font-size:13px;
	letter-spacing:1px;
}
input {
	display: inline-block;
	height: 25px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:90%;
	border:1px solid #BFBFBF;
}
button, input[type="button"], input[type="submit"] {
	border: 0px outset buttonface;
	outline: none;
	-webkit-appearance: none;
	-webkit-border-image: none;
	-webkit-box-align: center;
	cursor: pointer;
	display: inline-block;
	margin:0px;
	padding:5px 20px;
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	float:none;
	margin-bottom: 0px;
	vertical-align: middle;
	width: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:15px;
	font-family: 'Titillium Web', sans-serif;
	background-color: #FFD966;
	color: #5A5A5A;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
    height:40px;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover {
	background-color: #FFC000;
}
select {
	display: inline-block;
	font-size:15px;
    font-family: 'Titillium Web', sans-serif;
    height:36px;
    width:95%;
}


/*=========== FROM BOOTSTRAP ===========*/

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* this is to display the slider in google map correctly */
.map img {
    max-width: none;
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-fluid:after {
  clear: both;
}



.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > .pull-right {
  float: right;
}





.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align:top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999;
}

.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}

.open {
  *z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
     -moz-border-radius: 0 6px 6px 6px;
          border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-top: 5px;
  margin-right: -10px;
  border-color: transparent;
  border-left-color: #cccccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}