﻿@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            dialog_script = new DialogScript();

            $("#menu_table").find("td").each(function () {
                $(this).removeClass("focused");
            });
            $("#menu_table").find("#service").addClass("focused");

            // Now, support text editing
            init_text_edit("svc_geo", '@ViewBag.view');
            init_text_edit("svc_consult", '@ViewBag.view');
        });

    </script>
}

    <div class="container-fluid" style="background-color:#F3F5F8;height:180px;">
        <div style="width:960px;" class="loc_center">
            <h1 style="height:120px;line-height:120px">Services</h1>
        </div>
    </div>
    <br />

    <div class="container-fluid loc_center" style="height:10px;width:960px;">&nbsp;</div>
    <br />

    <div class="container-fluid loc_center" style="width:960px;">
        <div style="width:478px;float:left;">
            <center><img src="~/Images/geocoding-icon.png" /></center>
            <h3 style="color:#0075BD;text-align:center">Geocoding</h3>
        </div>
        <div style="width:478px;float:left;">
            <center><img src="~/Images/consulting-icon.png" /></center>
            <h3 style="color:#0075BD;text-align:center">Consulting and Analysis</h3>
        </div>
    </div>

    <div class="container-fluid loc_center" style="width:960px;">
        <div class="loc_center" style="width:478px;float:left;border-right:solid;border-right-width:1px;border-right-color:#b1b1b1">
            <div id="div_svc_geo_text_view" class="loc_center" style="width:410px;">
                <div id="div_svc_geo_text" style="display:table">
                </div>
            </div>
            <div id="div_svc_geo_text_edit" style="display:none;">
                <textarea id="text_svc_geo_text_edit" style="width:300px;height:200px"></textarea>
                <br />
                <button id="ok_button_svc_geo_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                <button id="cancel_button_svc_geo_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
            </div>
        </div>
        <div class="loc_center" style="width:478px;float:left;">
            <div id="div_svc_consult_text_view" class="loc_center" style="width:410px;">
                <div id="div_svc_consult_text" style="display:table">
                </div>
            </div>
            <div id="div_svc_consult_text_edit" style="display:none;">
                <textarea id="text_svc_consult_text_edit" style="width:300px;height:200px"></textarea>
                <br />
                <button id="ok_button_svc_consult_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                <button id="cancel_button_svc_consult_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
            </div>
        </div>
    </div>

    <div class="container-fluid loc_center" style="height:30px;width:960px;">&nbsp;</div>
