﻿@{
    ViewBag.Title = "Publications";
}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/event.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            dialog_script = new DialogScript();

            $("#menu_table").find("td").each(function () {
                $(this).removeClass("focused");
            });
            $("#menu_table").find("#publication").addClass("focused");

            // Now, support text editing
            init_text_edit("pub_article", '@ViewBag.view');
            init_text_edit("pub_report1", '@ViewBag.view');
            //init_text_edit("pub_report2", '@ViewBag.view');
            init_text_edit("pub_book1", '@ViewBag.view');
            //init_text_edit("pub_book2", '@ViewBag.view');

            find_all_events(3, $("#div_events"), 'about', '@ViewBag.view');
        });

        function download_file(filepath)
        {
            window.open(filepath, '_download');
        }
    </script>
}
    <div>
    <img src="~/Images/publications-banner-wide.png" />
    </div>

    <div class="container-fluid loc_center" style="width:960px;">
        <div style="width:580px;float:left;">
            <div id="div_article">
                <div style="border-bottom:solid;border-bottom-width:1px;border-bottom-color:#5A5A5A;">
                    <div style="float:left">
                        <h2 style="color:#EE3824;margin-left:0px">Articles</h2>
                    </div>
                    <div style="color:#FFC000;font-weight:bold;text-align:right;height:100px;line-height:100px"></div>
                </div>
                <div id="div_pub_article_text_view">
                    <div id="div_pub_article_text">
                    </div>
                </div>
                <div id="div_pub_article_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                    <textarea id="text_pub_article_text_edit" style="width:400px;height:400px"></textarea>
                    <br />
                    <button id="ok_button_pub_article_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                    <button id="cancel_button_pub_article_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                </div>
                <!--<div style="font-weight:bold;color:#0075BD">
                    <a href='' class='yellow_link'>DOWNLOAD</a>
                </div>-->
            </div>
            <br />
            <div id="div_report">
                <div style="border-bottom:solid;border-bottom-width:1px;border-bottom-color:#5A5A5A">
                    <div style="float:left">
                        <h2 style="color:#EE3824">Reports</h2>
                    </div>
                    <div style="color:#FFC000;font-weight:bold;text-align:right;height:100px;line-height:100px"></div>
                </div>
                <div id="div_pub_report1_text_view">
                    <div id="div_pub_report1_text">
                    </div>
                </div>
                <div id="div_pub_report1_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                    <textarea id="text_pub_report1_text_edit" style="width:400px;height:400px"></textarea>
                    <br />
                    <button id="ok_button_pub_report1_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                    <button id="cancel_button_pub_report1_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                </div>
                <!--<div style="font-weight:bold;color:#0075BD">DOWNLOAD</div>-->
                <!--<br />
                <div id="div_pub_report2_text_view">
                    <div id="div_pub_report2_text">
                    </div>
                </div>
                <div id="div_pub_report2_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                    <textarea id="text_pub_report2_text_edit" style="width:400px;height:400px"></textarea>
                    <br />
                    <button id="ok_button_pub_report2_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                    <button id="cancel_button_pub_report2_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                </div>
                <div style="font-weight:bold;color:#0075BD">DOWNLOAD</div>-->
            </div>
            <br />
            <div id="div_book">
                <div style="border-bottom:solid;border-bottom-width:1px;border-bottom-color:#5A5A5A">
                    <div style="float:left">
                        <h2 style="color:#EE3824">Books</h2>
                    </div>
                    <div style="color:#FFC000;font-weight:bold;text-align:right;height:100px;line-height:100px"></div>
                </div>
                <div id="div_pub_book1_text_view">
                    <div id="div_pub_book1_text">
                    </div>
                </div>
                <div id="div_pub_book1_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                    <textarea id="text_pub_book1_text_edit" style="width:400px;height:400px"></textarea>
                    <br />
                    <button id="ok_button_pub_book1_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                    <button id="cancel_button_pub_book1_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                </div>
                <!--<div style="font-weight:bold;color:#0075BD">DOWNLOAD</div>-->
                <!--<br />
                <div id="div_pub_book2_text_view">
                    <div id="div_pub_book2_text">
                    </div>
                </div>
                <div id="div_pub_book2_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                    <textarea id="text_pub_book2_text_edit" style="width:400px;height:400px"></textarea>
                    <br />
                    <button id="ok_button_pub_book2_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                    <button id="cancel_button_pub_book2_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                </div>
                <div style="font-weight:bold;color:#0075BD">DOWNLOAD</div>-->
            </div>
        </div>
        <div style="background-color:#E0EEF6;width:320px;float:left;margin-top:40px;margin-left:50px" class="round_box">
            <div style="margin:6px;padding:6px">
                <div style="font-weight:bold">LATEST NEWS</div>
                <hr style="margin:5px 0px" />
                <div id="div_events">
                </div>
                <a href="/Event/" style="color:#FFC000;font-weight:bold;text-align:left;height:50px;line-height:50px">
                    VIEW ALL >
                </a>
            </div>
        </div>
    </div>
    <br />
