﻿@{
    ViewBag.Title = "Membership";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#menu").find("li").each(function () {
                $(this).removeClass("active");
            });
            $("#menu").find("#membership").addClass("active");
        });
    </script>
}

    <div class="container-fluid" style="background-color:#F3F5F8;height:180px;">
        <div style="width:960px;" class="loc_center">
            <h1 style="height:120px;line-height:120px">Membership</h1>
        </div>
    </div>
    <br />

    <div class="container-fluid loc_center" style="height:120px;width:960px;">&nbsp;</div>
    <br />

