﻿@{
    ViewBag.Title = "Products";
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            dialog_script = new DialogScript();

            $("#menu_table").find("td").each(function () {
                $(this).removeClass("focused");
            });
            $("#menu_table").find("#product").addClass("focused");

            // Now, support text editing
            init_text_edit("prod_data");
            init_text_edit("prod_public");
            init_text_edit("prod_svc");
        });

        function init_text_edit(obj_name)
        {
            var text_obj_name = obj_name + "_text";
            var div_text_obj_name = "div_" + text_obj_name;
            var div_text_obj =  $("#" + div_text_obj_name);
            var div_text_view_obj = $("#" + div_text_obj_name + "_view");
            var div_text_edit_obj = $("#" + div_text_obj_name + "_edit");
            var textarea_text_edit_obj = $("#text_" + text_obj_name + "_edit");
            var ok_button_obj = $("#ok_button_" + text_obj_name);
            var cancel_button_obj = $("#cancel_button_" + text_obj_name);

            find_text(div_text_obj_name);

            if ('@ViewBag.view' == 'edit') {
                textarea_text_edit_obj.val(div_text_obj.html());
            }

            div_text_obj.click(function () {
                if ('@ViewBag.view' != 'edit') return;
                textarea_text_edit_obj.val(div_text_obj.html());
                display_edit(div_text_view_obj, div_text_edit_obj);
            });

            ok_button_obj.click(function () {
                update_text(div_text_obj_name, textarea_text_edit_obj.val());
                div_text_obj.html(textarea_text_edit_obj.val());
                display_view(div_text_view_obj, div_text_edit_obj);
            });

            cancel_button_obj.click(function () {
                display_view(div_text_view_obj, div_text_edit_obj);
            });
        }
    </script>
}

    <div>
        <img src="~/Images/products-banner-wide.png" />
    </div>
    <br />

    <div class="container-fluid loc_center" style="height:10px;width:960px;">&nbsp;</div>
    <br />

    <div class="container-fluid loc_center" style="width:960px;">
        <div style="width:318px;float:left;">
            <center><img src="~/Images/data.png" /></center>
            <h3 style="color:#0075BD;text-align:center">Data</h3>
        </div>
        <div style="width:318px;float:left;">
            <center><img src="~/Images/publications.png" /></center>
            <h3 style="color:#0075BD;text-align:center">Publications</h3>
        </div>
        <div style="width:318px;float:left;">
            <center><img src="~/Images/services.png" /></center>
            <h3 style="color:#0075BD;text-align:center">Services</h3>
        </div>
    </div>

    <div class="container-fluid loc_center" style="width:960px;">
        <div class="loc_center" style="width:318px;float:left;border-right:solid;border-right-width:1px;border-right-color:#b1b1b1">
            <div id="div_prod_data_text_view" class="loc_center" style="width:260px;">
                <div id="div_prod_data_text" style="display:table">
                </div>
            </div>
            <div id="div_prod_data_text_edit" style="display:none;">
                <textarea id="text_prod_data_text_edit" style="width:300px;height:200px"></textarea>
                <br />
                <button id="ok_button_prod_data_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                <button id="cancel_button_prod_data_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
            </div>
            <br />
            <div style="text-align:center"><a href="#" style="font-weight:bold;color:#000000">LEARN MORE ></a></div>
        </div>
        <div class="loc_center" style="width:318px;float:left;border-right:solid;border-right-width:1px;border-right-color:#b1b1b1">
            <div id="div_prod_public_text_view" class="loc_center" style="width:260px;">
                <div id="div_prod_public_text" style="display:table">
                </div>
            </div>
            <div id="div_prod_public_text_edit" style="display:none;">
                <textarea id="text_prod_public_text_edit" style="width:300px;height:200px"></textarea>
                <br />
                <button id="ok_button_prod_public_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                <button id="cancel_button_prod_public_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
            </div>
            <br />
            <div style="text-align:center"><a href="#" style="font-weight:bold;color:#000000">LEARN MORE ></a></div>
        </div>
        <div class="loc_center" style="width:318px;float:left">
            <div id="div_prod_svc_text_view" class="loc_center" style="width:260px;">
                <div id="div_prod_svc_text" style="display:table">
                </div>
            </div>
            <div id="div_prod_svc_text_edit" style="display:none;">
                <textarea id="text_prod_svc_text_edit" style="width:300px;height:200px"></textarea>
                <br />
                <button id="ok_button_prod_svc_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                <button id="cancel_button_prod_svc_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
            </div>
            <br />
            <div style="text-align:center"><a href="#" style="font-weight:bold;color:#000000">LEARN MORE ></a></div>
        </div>
    </div>

    <div class="container-fluid loc_center" style="height:30px;width:960px;">&nbsp;</div>
