﻿@{
    ViewBag.Title = "About";
}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/event.js"></script>
    <script type="text/javascript">

        var title_images = {
            'main': 'aboutus-banner-wide.png',
            'mission': 'ourmission-banner-wide.png',
            'team': 'theteam-banner-wide.png'
        };

        $(document).ready(function () {

            dialog_script = new DialogScript();

            $("#menu_table").find("td").each(function () {
                $(this).removeClass("focused");
            });
            $("#menu_table").find("#about").addClass("focused");

            // Now, support text editing
            init_text_edit("about_main", '@ViewBag.view');
            init_text_edit("about_mission", '@ViewBag.view');
            init_text_edit("about_team1", '@ViewBag.view');
            init_text_edit("about_team2", '@ViewBag.view');
            init_text_edit("about_team3", '@ViewBag.view');
            init_text_edit("about_team4", '@ViewBag.view');
            init_text_edit("about_team5", '@ViewBag.view');
            init_text_edit("about_team6", '@ViewBag.view');

            find_all_events(3, $("#div_events"), 'about', '@ViewBag.view');

            if ('@ViewBag.view' == 'edit')
            {
                $("#div_content").children().each(function ()
                {
                    $(this).show();
                });

                $("div[id^='div_image_upload']").each(function ()
                {
                    $(this).show();
                });
            }
        });

        function menu_selected(menu)
        {
            $("div[id^='div_menu_']").removeClass("focused").addClass("black");
            $("#div_menu_" + menu).removeClass("black").addClass("focused");
            var image_src = $("#title_image").attr("src");
            var index = image_src.lastIndexOf("/");
            image_src = image_src.substring(0, index) + "/" + title_images[menu];
            $("#title_image").attr("src", image_src);
            $("#div_content").children().each(function ()
            {
                $(this).hide();
            });
            $("#div_" + menu).show();
        }
    </script>
}

    <div>
        <img id="title_image" src="~/Images/aboutus-banner-wide.png" />
    </div>
    <br />

    <div class="container-fluid loc_center" style="height:10px;width:960px;">&nbsp;</div>
    <br />

    <div class="container-fluid loc_center" style="width:960px;">
        <div id="div_content" style="width:570px;float:left;">
            <div id="div_main">
                <div id="div_about_main_text_view">
                    <div id="div_about_main_text">
                    </div>
                </div>
                <div id="div_about_main_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                    <textarea id="text_about_main_text_edit" style="width:400px;height:400px"></textarea>
                    <br />
                    <button id="ok_button_about_main_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                    <button id="cancel_button_about_main_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                </div>
            </div>
            <div id="div_mission" style="display:none">
                <div id="div_about_mission_text_view">
                    <div id="div_about_mission_text">
                    </div>
                </div>
                <div id="div_about_mission_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                    <textarea id="text_about_mission_text_edit" style="width:400px;height:400px"></textarea>
                    <br />
                    <button id="ok_button_about_mission_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                    <button id="cancel_button_about_mission_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                </div>
            </div>
            <div id="div_team" style="display:none">
                <!--<div style="border-bottom:solid;border-bottom-width:1px;border-bottom-color:#5A5A5A;">
                    <h2 style="color:#EE3824;margin-left:0px">The Team</h2>
                </div>-->
                <div>
                    <table cellspacing="4" cellpadding="4">
                        <tr>
                            <td>
                                <img src="~/Images/melissa.jpg" width="180" height="140" style="width:180px;height:140px" />
                                <div id="div_image_upload1" style="display:none">
                                    <br />
                                    <a href="/Home/Upload/?folderName=Images&resourceName=melissa">Upload image</a>
                                </div>
                            </td>
                            <td style="vertical-align:top;text-align:left">
                                <div id="div_about_team1_text_view">
                                    <div id="div_about_team1_text">
                                    </div>
                                </div>
                                <div id="div_about_team1_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                                    <textarea id="text_about_team1_text_edit" style="width:400px;height:400px"></textarea>
                                    <br />
                                    <button id="ok_button_about_team1_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                                    <button id="cancel_button_about_team1_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Images/anna.jpg" width="180" height="140" style="width:180px;height:140px" />
                                <div id="div_image_upload2" style="display:none">
                                    <br />
                                    <a href="/Home/Upload/?folderName=Images&resourceName=anna">Upload image</a>
                                </div>
                            </td>
                            <td style="vertical-align:top;text-align:left">
                                <div id="div_about_team2_text_view">
                                    <div id="div_about_team2_text">
                                    </div>
                                </div>
                                <div id="div_about_team2_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                                    <textarea id="text_about_team2_text_edit" style="width:400px;height:400px"></textarea>
                                    <br />
                                    <button id="ok_button_about_team2_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                                    <button id="cancel_button_about_team2_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Images/paru.jpg" width="180" height="140" style="width:180px;height:140px" />
                                <div id="div_image_upload3" style="display:none">
                                    <br />
                                    <a href="/Home/Upload/?folderName=Images&resourceName=paru">Upload image</a>
                                </div>
                            </td>
                            <td style="vertical-align:top;text-align:left">
                                <div id="div_about_team3_text_view">
                                    <div id="div_about_team3_text">
                                    </div>
                                </div>
                                <div id="div_about_team3_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                                    <textarea id="text_about_team3_text_edit" style="width:400px;height:400px"></textarea>
                                    <br />
                                    <button id="ok_button_about_team3_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                                    <button id="cancel_button_about_team3_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                                </div>
                            </td>
                        </tr>
                        <!--<tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Images/lana.jpg"  style="width:180px;height:140px" />
                                <div id="div_image_upload4" style="display:none">
                                    <br />
                                    <a href="/Home/Upload/?folderName=Images&resourceName=lana">Upload image</a>
                                </div>
                            </td>
                            <td style="vertical-align:top;text-align:left">
                                <div id="div_about_team4_text_view">
                                    <div id="div_about_team4_text">
                                    </div>
                                </div>
                                <div id="div_about_team4_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                                    <textarea id="text_about_team4_text_edit" style="width:400px;height:400px"></textarea>
                                    <br />
                                    <button id="ok_button_about_team4_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                                    <button id="cancel_button_about_team4_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Images/simon.jpg"  style="width:180px;height:140px" />
                                <div id="div_image_upload5" style="display:none">
                                    <br />
                                    <a href="/Home/Upload/?folderName=Images&resourceName=simon">Upload image</a>
                                </div>
                            </td>
                            <td style="vertical-align:top;text-align:left">
                                <div id="div_about_team5_text_view">
                                    <div id="div_about_team5_text">
                                    </div>
                                </div>
                                <div id="div_about_team5_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                                    <textarea id="text_about_team5_text_edit" style="width:400px;height:400px"></textarea>
                                    <br />
                                    <button id="ok_button_about_team5_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                                    <button id="cancel_button_about_team5_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr /></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="~/Images/alex.jpg"  style="width:180px;height:140px" />
                                <div id="div_image_upload6" style="display:none">
                                    <br />
                                    <a href="/Home/Upload/?folderName=Images&resourceName=alex">Upload image</a>
                                </div>
                            </td>
                            <td style="vertical-align:top;text-align:left">
                                <div id="div_about_team6_text_view">
                                    <div id="div_about_team6_text">
                                    </div>
                                </div>
                                <div id="div_about_team6_text_edit" style="margin-left:40px;margin-top:50px;display:none;float:left">
                                    <textarea id="text_about_team6_text_edit" style="width:400px;height:400px"></textarea>
                                    <br />
                                    <button id="ok_button_about_team6_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                                    <button id="cancel_button_about_team6_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                                </div>
                            </td>
                        </tr>-->
                    </table>
                </div>
            </div>
        </div>
        <div style="width:50px;float:left">&nbsp;</div>
        <div style="width:320px;float:left;">
            <div style="background-color:#E0EEF6;margin-top:0px" class="round_box">
                <div style="margin:6px;padding:6px">
                    <div id="div_menu_main" style="font-weight:bold" class="focused"><a href="javascript:menu_selected('main')">About Us</a></div>
                    <hr style="margin:5px 0px" />
                    <div id="div_menu_mission" style="font-weight:bold" class="black"><a href="javascript:menu_selected('mission')">Our Mission</a></div>
                    <hr style="margin:5px 0px" />
                    <div id="div_menu_team" style="font-weight:bold" class="black"><a href="javascript:menu_selected('team')" class="black">The Team</a></div>
                </div>
            </div>
            <div style="background-color:#E0EEF6;margin-top:20px" class="round_box">
                <div style="margin:6px;padding:6px">
                    <div style="font-weight:bold">LATEST NEWS</div>
                    <hr style="margin:5px 0px" />
                    <div id="div_events">
                    </div>
                    <a href="/Event/" style="color:#FFC000;font-weight:bold;text-align:left;height:50px;line-height:50px">
                        VIEW ALL >
                    </a>
                </div>
            </div>
            <div>
                <a href="#" class="btn yellow" style="margin-left:0px;width:284px;font-weight:bold">SUPPORT LEAP</a>
            </div>
        </div>
    </div>
    <br />
