﻿@{
    ViewBag.Title = "Home";
}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/event.js"></script>
    <script type="text/javascript">

        var dialog_script = null;

        $(document).ready(function () {

            dialog_script = new DialogScript();

            $("#menu_table").find("td").each(function () {
                $(this).removeClass("focused");
            });
            $("#menu_table").find("#home").addClass("focused");

            // Now, support text editing
            find_text("div_home_main_text");
            find_text("div_home_left_text");
            if ('@ViewBag.view' == 'edit')
            {
                $("#text_home_main_text_edit").val($("#div_home_main_text").html());
                $("#text_home_left_text_edit").val($("#div_home_left_text").html());
                //display_edit($("#div_home_main_text_view"), $("#div_home_main_text_edit"));
                //display_edit($("#div_home_left_text_view"), $("#div_home_left_text_edit"));
            }
            else
            {
                //display_view($("#div_home_main_text_view"), $("#div_home_main_text_edit"));
                //display_edit($("#div_home_left_text_view"), $("#div_home_left_text_edit"));
            }

            $("#div_home_main_text").click(function ()
            {
                if ('@ViewBag.view' != 'edit') return;
                $("#text_home_main_text_edit").val($("#div_home_main_text").html());
                display_edit($("#div_home_main_text_view"), $("#div_home_main_text_edit"));
            });
            $("#ok_button_home_main_text").click(function ()
            {
                update_text("div_home_main_text", $("#text_home_main_text_edit").val());
                $("#div_home_main_text").html($("#text_home_main_text_edit").val());
                display_view($("#div_home_main_text_view"), $("#div_home_main_text_edit"));
            });
            $("#cancel_button_home_main_text").click(function ()
            {
                display_view($("#div_home_main_text_view"), $("#div_home_main_text_edit"));
            });

            $("#div_home_left_text").click(function () {
                if ('@ViewBag.view' != 'edit') return;
                $("#text_home_left_text_edit").val($("#div_home_left_text").html());
                display_edit($("#div_home_left_text_view"), $("#div_home_left_text_edit"));
            });
            $("#ok_button_home_left_text").click(function () {
                update_text("div_home_left_text", $("#text_home_left_text_edit").val());
                $("#div_home_left_text").html($("#text_home_left_text_edit").val());
                display_view($("#div_home_left_text_view"), $("#div_home_left_text_edit"));
            });
            $("#cancel_button_home_left_text").click(function () {
                display_view($("#div_home_left_text_view"), $("#div_home_left_text_edit"));
            });


            // support event texts
            /*$("#h3_latest_news").click(function () {
                if ('    ViewBag.view' != 'edit') return;
                $("#div_event_text_new").css("display", "inline");
            });
            $("#ok_button_event_new_text").click(function () {
                update_event(-1, $("#text_event_date_new").val(), $("#text_event_summary_new").val(), $("#text_event_detail_new").val());
                find_all_events(3, $("#div_events"), 'index', '    ViewBag.view');
            });
            $("#cancel_button_event_new_text").click(function () {
                display_event_view();
            });*/
            find_all_events(3, $("#div_events"), 'index', '@ViewBag.view');
        });

        function set_trans_text(text_id)
        {
            $(".trans_text").find("span").each(function () {
                $(this).removeClass("focused");
                $(this).parent().siblings().remove();
            });
            $(".trans_text").find("span[id='" + text_id + "']").addClass("focused");
            $(".trans_text").find("span[id='" + text_id + "']").parent().parent().append('<br /><b class="caret"></b>');
        }

    </script>
}

    <div>
        <img src="~/Images/city-hall-homepage.jpg" />
    </div>

    <div class="trans_text" style="margin-left:310px;">
        <a href="javascript:set_trans_text('inform')"><span id="inform" class="focused">INFORM</span></a><br /><b class="caret"></b>
    </div>
    <div class="trans_text" style="margin-left:508px;">
        <a href="javascript:set_trans_text('analyze')"><span id="analyze">ANALYZE</span></a>
    </div>
    <div class="trans_text" style="margin-left:706px;">
        <a href="javascript:set_trans_text('empower')"><span id="empower">EMPOWER</span></a>
    </div>

    <div class="container-fluid" style="height:140px;background-color:#F3F5F8;">
        <div id="div_home_main_text_view" style="margin-left:40px;margin-top:50px;text-align:center;line-height:2em;display:inline">
            <div id="div_home_main_text" style="font-size:19px;margin-top:10px">
            </div>
        </div>
        <div id="div_home_main_text_edit" style="margin-left:40px;margin-top:50px;display:none">
            <br />
            <textarea id="text_home_main_text_edit" style="width:800px;height:120px"></textarea>
            <button id="ok_button_home_main_text" class="btn yellow" type="button" style="height:40px;">OK</button>
            <button id="cancel_button_home_main_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
        </div>
    </div>

    <br />
    <table style="width:960px" class="loc_center">
        <tr>
            <td style="width:60%;vertical-align:top;line-height:1.6em;" class="text_left">
                <div id="div_home_left_text_view">
                    <div id="div_home_left_text">
                    </div>
                </div>
                <div id="div_home_left_text_edit" style="margin-left:40px;margin-top:50px;display:none">
                    <br />
                    <textarea id="text_home_left_text_edit" style="width:400px;height:200px"></textarea>
                    <button id="ok_button_home_left_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                    <button id="cancel_button_home_left_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                </div>
                <br />
                <div>
                    Support this organization by making a donation to our fund.
                    <br />
                    <a href="#" class="btn yellow" style="margin-left:0px;width:145px;font-weight:bold">SUPPORT LEAP</a>
                </div>
            </td>
            <td style="width:5%"></td>
            <td style="width:35%;vertical-align:top;" class="text_left">
                <h3 id="h3_latest_news">LATEST NEWS</h3>
                <hr />
                <div id="div_events">
                </div>
                <a href="/Event/" style="color:#FFC000;font-weight:bold;text-align:left;height:100px;line-height:100px">
                    VIEW ALL >
                </a>
            </td>
        </tr>
    </table>
