﻿
@{
    ViewBag.Title = "Resource File Upload";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function ()
        {
        });

        function set_data()
        {
            $("#div_message").html("Please wait while uploading the file....");
        }
    </script>
}

    <div class="container-fluid loc_center" style="height:10px;width:960px;">&nbsp;</div>

    <div class="container-fluid loc_center" style="width:960px">
        <table class="loc_center">
            <tr>
                <td>
                    @using (Html.BeginForm((string)ViewBag.FormAction, "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
                    {
                        <span>File to Upload :</span>
                        <input type="file" id="FileUpload" name="FileUpload" class="clsText" / ><br />
                        <input type="hidden" id="folderName" name="folderName" value="@ViewBag.folderName" />
                        <input type="hidden" id="resourceName" name="resourceName" value="@ViewBag.resourceName" />
                        <input type="submit" value="Upload" class="clsText" onclick="javascript: set_data()" />
                    }

                    <div id="div_message">
                        @ViewBag.message
                    </div>
                </td>
            </tr>
        </table>
    </div>
