﻿@model List<Leap.Models.StateMatrix>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All State Matrix</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <div>
        <div style="font-size:10px;text-align:right">
            * Years are not consecutive.
        </div>
        <p />
        <table id="table_matrix" style="width:100%;border:solid;border-width:1px;text-align:center;vertical-align:central;font-size:80%;">
            @foreach (var item in Model)
            {
                <tr style="border:solid;border-width:1px">
                    <td style="border:solid;border-width:1px;border-color:black;background-color:silver;color:white;padding-top:5px;padding-bottom:5px;">@item.StateAbbr</td>
                    <td style="border:solid;border-width:1px;"><b>Elections</b></td>
                    <td style="border:solid;border-width:1px;"><b>Places</b></td>
                    <td style="border:solid;border-width:1px;"><b>Candidates</b></td>
                    <td style="border:solid;border-width:1px;"><b>Years</b></td>
                </tr>
                <tr style="border:solid;border-width:1px">
                    <td style="border:solid;border-width:1px;padding-top:5px;padding-bottom:5px;"><b>County</b></td>
                    <td style="border:solid;border-width:1px;">@item.CountyElectionCount</td>
                    <td style="border:solid;border-width:1px;">@item.CountyPlaceCount</td>
                    <td style="border:solid;border-width:1px;">@item.CountyCandidateCount</td>
                    <td style="border:solid;border-width:1px;">@item.CountyYearRange</td>
                </tr>
                <tr style="border:solid;border-width:1px">
                    <td style="border:solid;border-width:1px;padding-top:5px;padding-bottom:5px;"><b>City</b></td>
                    <td style="border:solid;border-width:1px;">@item.CityElectionCount</td>
                    <td style="border:solid;border-width:1px;">@item.CityPlaceCount</td>
                    <td style="border:solid;border-width:1px;">@item.CityCandidateCount</td>
                    <td style="border:solid;border-width:1px;">@item.CityYearRange</td>
                </tr>
                <tr style="border:solid;border-width:1px">
                    <td style="border:solid;border-width:1px;padding-top:5px;padding-bottom:5px;"><b>Sch. Dist.</b></td>
                    <td style="border:solid;border-width:1px;">@item.SchoolElectionCount</td>
                    <td style="border:solid;border-width:1px;">@item.SchoolPlaceCount</td>
                    <td style="border:solid;border-width:1px;">@item.SchoolCandidateCount</td>
                    <td style="border:solid;border-width:1px;">@item.SchoolYearRange</td>
                </tr>
                <tr style="border:solid;border-width:1px">
                    <td style="border:solid;border-width:1px;padding-top:5px;padding-bottom:5px;"><b>Sp. Dist.</b></td>
                    <td style="border:solid;border-width:1px;">@item.SpecialElectionCount</td>
                    <td style="border:solid;border-width:1px;">@item.SpecialPlaceCount</td>
                    <td style="border:solid;border-width:1px;">@item.SpecialCandidateCount</td>
                    <td style="border:solid;border-width:1px;">@item.SpecialYearRange</td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
            }     
        </table>
    </div>
</body>
</html>
