﻿@model Leap.Models.CountyMatrix

@{
    Layout = null;
}

<thead>
    <tr>
        <th>@Model.StateAbbr</th>
        <th>Elections</th>
        <th>Places</th>
        <th>Candidates</th>
        <th>Years</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>@Model.CountyName</td>
        <td>@Model.ElectionCount</td>
        <td>@Model.PlaceCount</td>
        <td>@Model.CandidateCount</td>
        <td>@Model.YearRange</td>
    </tr>
</tbody>
