﻿@model IEnumerable<Leap.ldc_results_election>

@{
    Layout = null;
}

@using Leap.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>Matrix Election Detail</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dialog_script.js"></script>
</head>
<body style="margin:10px;padding:10px">

    <h2>Matrix Election Detail</h2>

    <table id="election_table" class="table-bordered">
    <thead>
        <tr>
            <th>Election Date</th>
            <th>Election Place</th>
            <th>Election Year</th>
            <th>Government Level</th>
            <th>State Abbreviation</th> 
            <th>County Name</th>
            <th>Entity Name</th>
            <th>Election Name</th>
            <th>Office Name</th>
            <th>Seat Name</th>
            <th>Office AL</th>
            <th>Office District</th>
            <th>Ballots Cast</th>
            <th>Registered Voters</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model) {
            <tr>
                <td style="color:crimson;font-weight:bold">@Html.DisplayDate(item.election_date)</td>
                <td>@Html.DisplayFor(modelItem => item.fips_place_location)</td>
                <td>@Html.DisplayYear(item.election_date)</td>
                <td>@Html.DisplayId(item.government_level_id)</td>
                <td>@Html.DisplayFor(modelItem => item.list_loc_key.state_abbrev)</td>
                <td>@Html.DisplayFor(modelItem => item.list_loc_key.county_name)</td>
                <td>@Html.DisplayFor(modelItem => item.entity_code)</td>
                <td>@Html.DisplayFor(modelItem => item.election_name)</td>
                <td>@Html.DisplayFor(modelItem => item.office_name)</td>
                <td>@Html.DisplayFor(modelItem => item.seat_name)</td>
                <td>@Html.DisplayFor(modelItem => item.office_al)</td>
                <td>@Html.DisplayFor(modelItem => item.office_district)</td>
                <td>@Html.DisplayId(item.ballots_cast)</td>
                <td>@Html.DisplayId(item.registered_votes)</td>

            </tr>
        }
    </tbody>
</table>

</body>
</html>
