﻿@model IEnumerable<Leap.ldc_results_election_candidate>

@{
    Layout = null;
}

@using Leap.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>Matrix Candidate Detail</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dialog_script.js"></script>
</head>
<body style="margin:10px;padding:10px">

    <h2>Matrix Candidate Detail</h2>

    <table id="election_table" class="table-bordered">
    <thead>
        <tr>
            <th>Election Date</th>
            <th>Election Place</th>
            <th>Candidate Id</th>
            <th>Candidate Name</th>
            <th>Government Level</th>
            <th>State Abbreviation</th> 
            <th>County Name</th>
            <th>Entity Name</th>
            <th>Election Name</th>
            <th>Office Name</th>
            <th>Candidate Total Votes</th>
            <th>Candidate Percent Votes</th>
            <th>Candidate Win</th>
            <th>Candidate PID</th>
            <th>Seat Name</th>
            <th>Office AL</th>
            <th>Office District</th>
            <th>Candidate Early Votes</th>
            <th>Candidate Early Pct</th>
            <th>Candidate Ed Votes</th>
            <th>Candidate Ed Pct</th>
            <th>Candidate Mail Votes</th>
            <th>Candidate Mail Pct</th>
            <th>Candidate Absentee Votes</th>
            <th>Candidate Absentee Pct</th>
            <th>Ballots Cast</th>
            <th>Registered Voters</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayDate(item.ldc_results_election.election_date)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.fips_place_location)</td>
                <td style="color:crimson;font-weight:bold">@Html.DisplayId(item.results_candidate_id)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_name)</td>
                <td>@Html.DisplayId(item.ldc_results_election.government_level_id)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.list_loc_key.state_abbrev)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.list_loc_key.county_name)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.entity_code)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.election_name)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.office_name)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_total_votes)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_pct)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_pid)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_win)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.seat_name)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.office_al)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.office_district)</td>
                <td>@Html.DisplayId(item.candidate_early_votes)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_early_pct)</td>
                <td>@Html.DisplayId(item.candidate_ed_votes)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_ed_pct)</td>
                <td>@Html.DisplayId(item.candidate_mail_votes)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_mail_pct)</td>
                <td>@Html.DisplayId(item.candidate_absent_votes)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_absent_pct)</td>
                <td>@Html.DisplayId(item.ldc_results_election.ballots_cast)</td>
                <td>@Html.DisplayId(item.ldc_results_election.registered_votes)</td>

            </tr>
        }
    </tbody>
</table>

</body>
</html>
