﻿@model Leap.Models.StateMatrix

@{
    Layout = null;
}

<thead>
    <tr>
        <th></th>
        <th>ELECTIONS</th>
        <th>PLACES</th>
        <th>CANDIDATES</th>
        <th>YEARS</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Federal</td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixElectionDetail', 1);return false">@Model.FederalElectionCount</a></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixPlaceDetail', 1);return false">@Model.FederalPlaceCount</a></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixCandidateDetail', 1);return false">@Model.FederalCandidateCount</a></td>
        <td>@Model.FederalYearRange</td>
    </tr>
    <tr>
        <td>State</td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixElectionDetail', 2);return false">@Model.StateElectionCount</a></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixPlaceDetail', 2);return false">@Model.StatePlaceCount</a></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixCandidateDetail', 2);return false">@Model.StateCandidateCount</a></td>
        <td>@Model.StateYearRange</td>
    </tr>
    <tr>
        <td>County</td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixElectionDetail', 3);return false">@Model.CountyElectionCount</astyle="color:#FFC000;></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixPlaceDetail', 3);return false">@Model.CountyPlaceCount</a></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixCandidateDetail', 3);return false">@Model.CountyCandidateCount</a></td>
        <td>@Model.CountyYearRange</td>
    </tr>
    <tr>
        <td>Municipal</td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixElectionDetail', 4);return false">@Model.CityElectionCount</a></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixPlaceDetail', 4);return false">@Model.CityPlaceCount</a></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixCandidateDetail', 4);return false">@Model.CityCandidateCount</a></td>
        <td>@Model.CityYearRange</td>
    </tr>
    <tr>
        <td>School District</td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixElectionDetail', 5);return false">@Model.SchoolElectionCount</a></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixPlaceDetail', 5);return false">@Model.SchoolPlaceCount</a></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixCandidateDetail', 5);return false">@Model.SchoolCandidateCount</a></td>
        <td>@Model.SchoolYearRange</td>
    </tr>
    <tr>
        <td>Special District</td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixElectionDetail', 6);return false">@Model.SpecialElectionCount</a></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixPlaceDetail', 6);return false">@Model.SpecialPlaceCount</a></td>
        <td><a href="#" onclick="javascript:open_detail_page('MatrixCandidateDetail', 6);return false">@Model.SpecialCandidateCount</a></td>
        <td>@Model.SpecialYearRange</td>
    </tr>
</tbody>

<script type="text/javascript">
    function open_detail_page(interface_name, gid)
    {
        var url = "../Map/" + interface_name + "?fips=" + @Model.StateFips + "&gid=" + gid;
        window.open(url, "_detail");
    }
</script>