﻿@model Leap.Models.SchoolDistrictMatrix

@{
    Layout = null;
}


<tr style="border:solid;border-width:1px">
    <td style="border:solid;border-width:1px;border-color:black;background-color:silver;color:white;padding-top:5px;padding-bottom:5px;">@Model.StateAbbr</td>
    <td style="border:solid;border-width:1px;"><b>Elections</b></td>
    <td style="border:solid;border-width:1px;"><b>Places</b></td>
    <td style="border:solid;border-width:1px;"><b>Candidates</b></td>
    <td style="border:solid;border-width:1px;"><b>Years</b></td>
</tr>
<tr style="border:solid;border-width:1px">
    <td style="border:solid;border-width:1px;padding-top:5px;padding-bottom:5px;"><b>@Model.EntityName</b></td>
    <td style="border:solid;border-width:1px;">@Model.ElectionCount</td>
    <td style="border:solid;border-width:1px;">@Model.PlaceCount</td>
    <td style="border:solid;border-width:1px;">@Model.CandidateCount</td>
    <td style="border:solid;border-width:1px;">@Model.YearRange</td>
</tr>
