﻿@model IEnumerable<Leap.Models.State>

@{
    ViewBag.Title = "Data";
}

@section Scripts{

    <script type="text/javascript" src="~/Scripts/jquery.columnizer.js"></script>

    <script type="text/javascript">

        var option_index_list = ['', 'geography', 'office', 'time'];
        var option_list = [
                "<option value=''></option>",
                "<option value='geography'>Geography</option>",
                "<option value='office'>Office</option>",
                "<option value='time'>Time</option>"
            ];

        var current_search_id = null;
        var current_search_name = null;
        var current_search_string = null;

        var move_forced = false;
        var dialog_script = null;

        var input_serach_name_to_save_str = "Please enter the name of this search to save<br /><br />"
            + "<input type='text' id='input_search_name_to_save' />";
        var input_send_email_str = "Please enter the name and email address and click 'OK' button to send an email to us if you are interested in acquiring these data.<br /><br />"
            + "<input type='text' id='input_send_email_name' placeholder='name' /><br/>"
            + "<input type='text' id='input_send_email_email_address' placeholder='email address' /><br/>"
            + "<span id='send_email_wait_message' style='display:none'>Please wait....</span>";

        $(document).ready(function () {

            dialog_script = new DialogScript();

            $("#menu_table").find("td").each(function () {
                $(this).removeClass("focused");
            });
            $("#menu_table").find("#data").addClass("focused");

            $("#tabs").tabs();
            $('#tabs').tabs('select', "tabs-ex");

            // Now, support text editing
            init_text_edit("data_down_help", '@ViewBag.view');
            init_text_edit("data_down_sample_col1", '@ViewBag.view');
            init_text_edit("data_down_sample_col2", '@ViewBag.view');
            init_text_edit("data_down_sample_col3", '@ViewBag.view');
            init_text_edit("data_down_purchase", '@ViewBag.view');

            if ('@ViewBag.view' == 'edit')
            {
                $("#sample_div").show();
            }

            $('#tabs, #tabs-av').tabs({
                select: function (event, ui) {
                    window.open("/Poll/", "_self");
                }
            });

            if ($.browser.msie && $.browser.version < 10)
            {
                $('#div_data_down_help_text').columnize({ column: 2 });
            }
            else
            {
                $('#div_data_down_help_text').addClass("col-2-div");
            }

            find_all_office_names();

            $("select[id^='select_group_']").change(function()
            {
                // remove the current and following query boxes
                var current_group_div = $("#" + $(this).attr("id").replace('select', 'div'));
                $("#div_queries").append(current_group_div.find("div").first());
                current_group_div.nextAll().each(function ()
                {
                    $("#div_queries").append($(this).find("div").first());
                });

                // empty the options of following query combo box
                $(this).parent().nextAll().each(function ()
                {
                    $(this).find("select").empty();
                });

                var selected = $(this).val();
                if (selected == "") return;

                current_group_div.append($("#div_" + selected));
                eval("find_" + selected)();

                // store the already selected options in the prev & current query combo boxes
                var selected_options = [];
                $(this).parent().prevAll().each(function()
                {
                    selected_options.push($(this).find("select").first().val());
                });
                selected_options.push(selected);

                // now add the remaining options in the next query combo box
                var next_select_group = $(this).parent().next().find("select").first();
                for(var oi = 0; oi < option_index_list.length; oi++)
                {
                    var found = false;
                    for (var prev = 0; prev < selected_options.length; prev++)
                    {
                        if (option_index_list[oi] == selected_options[prev])
                        {
                            found = true;
                            break;
                        }
                    }
                    if (found) continue;
                    next_select_group.append(option_list[oi]);
                }

                $("#div_preview").html("");
                $("#div_count").text("");
            });


            $(window).bind('beforeunload', function ()
            {
                if (!move_forced && is_search_string_changed())
                {
                    return "All of the unsaved changes will be discarded.";
                }
            });

            $("#select_state").change(function () {
                find_geography_county($(this).val(), $(this).find('option:selected').text());
                //reset_following_divs($("#div_geography"));
            });

            $("#select_county").change(function ()
            {
            });

            $("#select_office").change(function ()
            {
            });

            $("#select_from_time").change(function ()
            {
            });

            $("#select_to_time").change(function ()
            {
            });

            $("#add_geography_criteria_button").click(function ()
            {
                add_geography_criteria();
                reset_following_divs($("#div_geography"));
                return false;
            });

            $("#add_office_criteria_button").click(function () {
                add_office_criteria();
                reset_following_divs($("#div_office"));
                return false;
            });

            $("#add_time_criteria_button").click(function () {
                add_time_criteria();
                reset_following_divs($("#div_time"));
                return false;
            });

            $("#reset_geography_criteria_button").click(function ()
            {
                if (!confirm("All selected search criteria of this filter and followings will be removed. OK to proceed?")) return false;

                $('#select_criteria_geography').find('option').remove();
                reset_following_divs($("#div_geography"));
                $("#div_preview").html("");
                $("#div_count").text("");

                return false;
            });

            $("#reset_office_criteria_button").click(function () {
                if (!confirm("All selected search criteria of this filter and followings will be removed. OK to proceed?")) return false;

                $('#select_criteria_office').find('option').remove();
                reset_following_divs($("#div_office"));
                $("#div_preview").html("");
                $("#div_count").text("");
                return false;
            });

            $("#reset_time_criteria_button").click(function () {
                if (!confirm("All selected search criteria of this filter and followings will be removed. OK to proceed?")) return false;

                $('#select_criteria_time').find('option').remove();
                reset_following_divs($("#div_time"));
                $("#div_preview").html("");
                $("#div_count").text("");
                return false;
            });

            $("#open_button").click(function ()
            {
                list_search();
            });

            $("#save_button").click(function()
            {
                var search_string = build_search_string();
                //alert(search_string);
                if (search_string == "") {
                    alert("You must add criteria first");
                    return;
                }

                if (!is_search_string_changed()) {
                    alert("No changes were made.");
                    return;
                }

                dialog_script.set_data_content(input_serach_name_to_save_str);
                dialog_script.set_confirm_callback(save_search);
                $("#input_search_name_to_save").attr("value", $("#current_search_name").text());
                $("#input_search_name_to_save").select();
                dialog_script.display_data();
            });

            $("#delete_button").click(function ()
            {
                if (current_search_id == null)
                {
                    alert("There is no open search.");
                    return;
                }
                if (!confirm("Do you really want to delete the current search?")) return;
                delete_search(current_search_id);
            });

            $("#search_button").click(function ()
            {
                var geograph_str = build_geography_string_for_search();
                var office_str = build_office_string_for_search();
                var time_str = build_time_string_for_search();
                if (geograph_str == "" && office_str == "" && time_str == "")
                {
                    alert("No search criteria has been selected. Please select at least one.");
                    return;
                }

                var referendums = $("#referendums_check").prop("checked");
                find_election_groups(geograph_str, office_str, time_str, referendums);
                return false;
            });

            $("#purchase_button").click(function ()
            {
                if ('@User.IsInRole("Admin")' == 'True' || '@User.IsInRole("Guest")' == 'True')
                {
                    var geograph_str = build_geography_string_for_search();
                    var office_str = build_office_string_for_search();
                    var time_str = build_time_string_for_search();
                    var referendums = $("#referendums_check").prop("checked");

                    if (geograph_str == "" && office_str == "" && time_str == "")
                    {
                        alert("No search criteria has been selected. Please select at least one.");
                        return;
                    }

                    window.open("/Poll/Find/?fips=" + geograph_str + "&office=" + office_str + "&time=" + time_str + "&referendums=" + referendums, "_result");
                    return false;
                }
                else
                {
                    // temporarily
                    //alert("If you are interested in acquiring these data, please contact us :\n\ninfo@leap-elections.org\ninfo@leap-elections.com");
                    dialog_script.set_data_content(input_send_email_str);
                    $("#send_email_wait_message").hide();
                    dialog_script.set_confirm_callback(send_email);
                    dialog_script.set_data_title("Send Email");
                    dialog_script.set_data_class("content12");
                    dialog_script.set_data_height(250);
                    dialog_script.display_data();
                    return false;
                }
            });

        });

        $.fn.sortOptions = function ()
        {
            $(this).each(function () {
                var op = $(this).children("option");
                op.sort(function (a, b) {
                    return a.text > b.text ? 1 : -1;
                })
                return $(this).empty().append(op);
            });
        }

        // this is called from the link of "Click here to see a full list of office names..." under "Explore Data" 
        function show_all_office_names()
        {
            dialog_script.set_message_width(400);
            dialog_script.set_message_height(500);
            dialog_script.set_message_title('Office Names');
            dialog_script.display_message($('#office_names_div').html());
            return false;
        }

        // this is called from the link of "Click here to view examples of ..." under "Explore Data" 
        function show_examples()
        {
            dialog_script.set_message_width(1000);
            dialog_script.set_message_height(220);
            dialog_script.set_message_title('Samples');
            dialog_script.display_message($('#sample_div').html());
            return false;
        }


        function build_search_string()
        {
            var search_string = "";
            $("select[id^='select_group_']").each(function ()
            {
                if (search_string != "") search_string += ".amp.";
                var query_type = $(this).val();
                if (query_type != null && query_type != "")
                {
                    criteria_string = eval("build_" + query_type + "_string_for_search")();
                    //alert(criteria_string);
                    if (criteria_string == "") {
                        search_string += "";
                    }
                    else
                    {
                        search_string += query_type + ".eq." + criteria_string;
                    }
                }
            });
            return search_string;
        }

        function is_search_string_changed()
        {
            var current_splitted_array = split_search_string(current_search_string);
            var new_splitted_array = split_search_string(build_search_string());
            for (var i = 0; i < current_splitted_array.length; i++)
            {
                if (current_splitted_array[i][1] == "" && new_splitted_array[i][1] == "") continue;
                for (var j = 0; j < current_splitted_array[i].length; j++)
                {
                    if (current_splitted_array[i][j] != new_splitted_array[i][j])
                    {
                        var _cur = current_splitted_array[i][j];
                        var _new = new_splitted_array[i][j];
                        if (_cur.lastIndexOf(",") == _cur.length-1)
                        {
                            _cur = _cur.substring(0, _cur.length-1);
                        }
                        if (_new.lastIndexOf(",") == _new.length-1)
                        {
                            _new = _new.substring(0, _new.length-1);
                        }
                        if(_cur != _new)    return true;
                    }
                }
            }
            return false;
        }

        function split_search_string(search_string)
        {
            var splitted_array = [["", ""], ["", ""], ["", ""]];
            if (search_string == null) return splitted_array;

            var search_str_array = search_string.split(".amp.");
            for (var idx = 0; idx < search_str_array.length; idx++)
            {
                var query_str_array = search_str_array[idx].split(".eq.");
                splitted_array[idx][0] = query_str_array[0] || "";
                splitted_array[idx][1] = query_str_array[1] || "";
            }

            return splitted_array;
        }

        function reset_following_divs(div_obj)
        {
            div_obj.parent().parent().nextAll().each(function () {
                $(this).find("select[id^='select_group_']").val("");
                var div_obj = $(this).find("div[id^='div_group_']").find("div").first();
                if (div_obj.length != 0) {
                    $("#" + div_obj.attr('id').replace('div_', 'div_criteria_')).find('option').remove();
                    $("#div_queries").append(div_obj);
                }
            });
        }


        function build_geography_string_for_search()
        {
            var fips_str = "";
            $('#select_criteria_geography option').each(function () {
                fips_str += $(this).val() + ",";
            });
            return fips_str;
        }

        function add_geography_criteria() {

            if ($("#tabs-ex").find("#select_state").length == 0) return;

            var state_value = $("#tabs-ex").find("#select_state").val();
            var state_text = $("#tabs-ex").find("#select_state").find("option:selected").text();
            $("#tabs-ex").find("#select_county").find("option:selected").each(function () {
                var option_value = state_value + ":" + $(this).val();
                var option_text = state_text + ":" + $(this).text();
                $("#select_criteria_geography").append("<option value='" + option_value + "'>" + option_text + "</option>");
            });

            $('#select_criteria_geography option').each(function () {
                $(this).nextAll('option[value="' + this.value + '"]').remove();
            });
            $("#select_criteria_geography").sortOptions();
        }

        function build_office_string_for_search()
        {
            var office_str = "";
            $('#select_criteria_office option').each(function () {
                office_str += $(this).val() + ",";
            });
            return office_str;
        }

        function add_office_criteria()
        {
            if ($("#tabs-ex").find("#select_office").length == 0) return;

            $("#tabs-ex").find("#select_office").find("option:selected").each(function ()
            {
                var option_value = $(this).val();
                var option_text = $(this).text();
                $("#select_criteria_office").append("<option value='" + option_value + "'>" + option_text + "</option>");
            });

            $('#select_criteria_office option').each(function () {
                $(this).nextAll('option[value="' + this.value + '"]').remove();
            });
            $("#select_criteria_office").sortOptions();
        }

        function build_time_string_for_search() {
            var time_str = "";
            $('#select_criteria_time option').each(function () {
                time_str += $(this).val() + ",";
            });
            return time_str;
        }

        function add_time_criteria()
        {
            if ($("#tabs-ex").find("#select_from_time").length == 0) return;

            var time_str = "";
            var from_time = $("#tabs-ex").find("#select_from_time").val() || "";
            var to_time = $("#tabs-ex").find("#select_to_time").val() || "";
            if (from_time != "" || to_time != "") {
                var option_value = from_time + ":" + to_time;
                var option_text = from_time + " ~ " + to_time;
                $("#select_criteria_time").append("<option value='" + option_value + "'>" + option_text + "</option>");
            }

            $('#select_criteria_time option').each(function () {
                $(this).nextAll('option[value="' + this.value + '"]').remove();
            });
            $("#select_criteria_time").sortOptions();
        }



        function check_prev_step_selected(div_obj)
        {
            var ret = true;
            div_obj.parent().parent().prev().find("select[id^='select_group_']").each(function () {
                if ($("#select_criteria_" + $(this).val()).find("option").length == 0) 
                {
                    ret = false;
                }
            });

            if (!ret)
            {
                reset_following_divs(div_obj.parent().parent().prev().find("div"));
                alert("Please select value(s) first in the prev Filter, first");
            }
            return ret;
        }


        function find_geography()
        {
            if (!check_prev_step_selected($("#tabs-ex").find("#div_geography"))) return;

            var office_names = "";
            var date_ranges = "";

            $("#tabs-ex").find("#div_geography").parent().parent().prevAll().each(function ()
            {
                if($(this).find("select[id='select_office']").length > 0)
                {
                    office_names = build_office_string_for_search();
                }
                else if ($(this).find("select[id='select_from_time']").length > 0)
                {
                    date_ranges = build_time_string_for_search();
                }
            });

            find_states(office_names, date_ranges);
        }

        function find_geography_county(state_fips, state_name)
        {
            if (!check_prev_step_selected($("#tabs-ex").find("#div_geography"))) return;

            var office_names = "";
            var date_ranges = "";

            $("#tabs-ex").find("#div_geography").parent().parent().prevAll().each(function ()
            {
                if ($(this).find("select[id='select_office']").length > 0)
                {
                    office_names = build_office_string_for_search();
                }
                else if ($(this).find("select[id='select_from_time']").length > 0)
                {
                    date_ranges = build_time_string_for_search();
                }
            });

            find_counties(state_fips, state_name, office_names, date_ranges);
        }

        function find_office()
        {
            if (!check_prev_step_selected($("#tabs-ex").find("#div_office"))) return;

            var counties = "";
            var date_ranges = "";

            $("#tabs-ex").find("#div_office").parent().parent().prevAll().each(function ()
            {
                if ($(this).find("select[id='select_state']").length > 0)
                {
                    counties = build_geography_string_for_search();
                }
                else if ($(this).find("select[id='select_from_time']").length > 0)
                {
                    date_ranges = build_time_string_for_search();
                }
            });

            find_office_names(counties, date_ranges);
        }

        function find_time()
        {
            if (!check_prev_step_selected($("#tabs-ex").find("#div_time"))) return;

            var counties = "";
            var office_names = "";

            $("#tabs-ex").find("#div_time").parent().parent().prevAll().each(function ()
            {
                if ($(this).find("select[id='select_state']").length > 0)
                {
                    counties = build_geography_string_for_search();
                }
                else if ($(this).find("select[id='select_office']").length > 0)
                {
                    office_names = build_office_string_for_search();
                }
            });

            find_times(counties, office_names);
        }

        function reset_queries()
        {
            // remove all of the query divs
            $("div[id^='div_group_']").each(function () {
                $("#div_queries").append($(this).find("div").first());
            });

            // reset the query select options
            $("select[id^='select_group_']").each(function () {
                $(this).empty();
            });

            // reset the criteria select options
            $("#select_criteria_geography").empty();
            $("#select_criteria_office").empty();
            $("#select_criteria_time").empty();
        }

        function initialize_queries(search_string)
        {
            // remove all selections & criteria
            reset_queries();

            var query_options = [["geography", "Geography"], ["office", "Office"], ["time", "Time"]];
            var search_str_array = search_string.split(".amp.");
            for (var idx = 0; idx < search_str_array.length; idx++)
            {
                var query_str_array = search_str_array[idx].split(".eq.");
                var query_type = query_str_array[0] || "";
                var query_value = query_str_array[1] || "";

                // first add options in the query select
                $("#select_group_" + (idx + 1)).append("<option value=''></option>");
                for (var j = 0; j < query_options.length; j++)
                {
                    if (query_options[j][0] == "") continue;
                    $("#select_group_" + (idx + 1)).append("<option value='" + query_options[j][0] + "'>" + query_options[j][1] + "</option>");
                    if (query_options[j][0] == query_type) query_options[j][0] = "";
                }

                if (query_type == "") continue;

                // selec the current query option
                $("#select_group_" + (idx + 1)).val(query_type);

                // add the query box for current query
                $("#div_group_" + (idx + 1)).append($("#div_" + query_type));

                eval("initialize_" + query_type + "_query")(query_value);
            }

            // populate query options whose query string is not provided
            for (var idx = search_str_array.length; idx < query_options.length; idx++)
            {
                $("#select_group_" + (idx + 1)).append("<option value=''></option>");
                for (var j = 0; j < query_options.length; j++)
                {
                    if (query_options[j][0] == "") continue;
                    $("#select_group_" + (idx + 1)).append("<option value='" + query_options[j][0] + "'>" + query_options[j][1] + "</option>");
                }
            }
        }

        function initialize_geography_query(search_string)
        {
            find_geography();

            if (search_string == "") return;

            var geo_str_array = search_string.split(",");
            if (geo_str_array.length > 0 && geo_str_array[0] != "")
            {
                var strs = geo_str_array[0].split(":");
                $("#select_state").val(strs[0]);
                find_geography_county($("#select_state").val(), $("#select_state").find('option:selected').text());
                if (strs.length == 2) $("#select_county").find("option[value='" + strs[1] + "']").attr('selected', 'selected');

                for (var idx = 1; idx < geo_str_array.length; idx++ )
                {
                    if (geo_str_array[idx] == "") continue;
                    var strs = geo_str_array[idx].split(":");
                    if(strs.length == 2) $("#select_county").find("option[value='" + strs[1] + "']").attr('selected', 'selected');
                }
            }

            // populate criteria selections
            add_geography_criteria();

            reset_following_divs($("#div_geography"));
        }

        function initialize_office_query(search_string)
        {
            find_office();

            if (search_string == "") return;

            var office_str_array = search_string.split(",");
            for (var idx = 0; idx < office_str_array.length; idx++)
            {
                if (office_str_array[idx] == "") continue;
                $("#select_office").find("option[value='" + office_str_array[idx] + "']").attr('selected', 'selected');
            }

            // populate criteria selections
            add_office_criteria();

            reset_following_divs($("#div_office"));
        }

        function initialize_time_query(search_string)
        {
            find_time();

            if (search_string == "") return;

            var times_array = time_str_array = search_string.split(",");
            for (var idx = 0; idx < times_array.length; idx++)
            {
                var time_str_array = times_array[idx].split(":");
                if (!!time_str_array[0]) $("#select_from_time").val(time_str_array[0]);
                if (!!time_str_array[1]) $("#select_to_time").val(time_str_array[1]);

                // populate criteria selections
                add_time_criteria();
            }

            reset_following_divs($("#div_time"));
        }





        /*** ajax calls ***/

        function find_states(office_names, date_ranges)
        {
            var ajax_dict =
            {
                type: "GET",
                url: "/State/Index/?country=1&offices=" + office_names + "&ranges=" + date_ranges + "&time=" + (new Date()).getTime(),
                dataType: "json",
                //data: me.data,
                processData: false,
                async: false,
                beforeSend: function () { process_states_before(); },
                //complete: function (XMLHttpRequest) { me.customized_complete_callback(me.params); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { process_states_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { process_states_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function process_states_before()
        {
            $("#select_county").empty();
        }

        function process_states_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            //county_select_array = {};
            alert(XMLHttpRequest.responseText);
        }

        function process_states_succeeded(result, textStatus)
        {
            var select_obj = $("#select_state");
            select_obj.empty();
            for (var idx = 0; idx < result.length; idx++)
            {
                select_obj.append("<option value='" + result[idx]['StateFips'] + "'>" + result[idx]['StateName'] + "</option>");
            }
        }

        function find_counties(state_fips, state_name, office_names, date_ranges)
        {
            if (state_fips == "") {
                select_county_obj = $("#select_county").empty();
                return;
            }

            var ajax_dict =
            {
                type: "GET",
                url: "/County/Index/?state_fips=" + state_fips + "&offices=" + office_names + "&ranges=" + date_ranges + "&time=" + (new Date()).getTime(),
                dataType: "json",
                //data: me.data,
                processData: false,
                async: false,
                //beforeSend: function () { me.customized_before_callback(me.params); },
                //complete: function (XMLHttpRequest) { me.customized_complete_callback(me.params); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { process_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { process_succeeded(result, textStatus, state_fips, state_name); }
            }

            $.ajax(ajax_dict);
        }

        function process_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function process_succeeded(result, textStatus, state_fips, state_name)
        {
            //alert(JSON.stringify(result));
            var counties = [];
            counties.push({ 'state_name': state_name, 'fips': -1, 'name': 'ALL', 'selected': false });
            for (var idx = 0; idx < result.length; idx++)
            {
                counties.push({ 'state_name': state_name, 'fips': result[idx].CountyFips, 'name': result[idx].CountyName, 'selected': false });
            }
            populate_counties(counties);
        }

        function populate_counties(counties)
        {
            var select_obj = $("#select_county");
            select_obj.empty();
            select_obj.append("<option value=''></option>");
            for (var idx = 0; idx < counties.length; idx++)
            {
                var option_str = "<option value='" + counties[idx]['fips'] + "'";
                if(counties[idx]['selected'])
                {
                    option_str += " selected";
                }
                option_str += ">" + counties[idx]['name'] + "</option>";
                select_obj.append(option_str);
            }
        }

        function find_office_names(counties, date_ranges)
        {
            var ajax_dict = {
                type: "GET",
                url: "/Poll/AllOfficeNamesInJson/?counties=" + counties + "&ranges=" + date_ranges + "&time=" + (new Date()).getTime(),
                dataType: "json",
                //data: me.data,
                processData: false,
                async: false,
                //beforeSend: function () { me.customized_before_callback(me.params); },
                //complete: function (XMLHttpRequest) { me.customized_complete_callback(me.params); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { process_office_names_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { process_office_names_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function process_office_names_failed(XMLHttpRequest, textStatus, errorThrown) {
            alert(XMLHttpRequest.responseText);
        }

        function process_office_names_succeeded(result, textStatus)
        {
            var select_obj = $("#select_office");
            select_obj.empty();
            select_obj.append("<option value='-1'>ALL</option>");
            for (var idx = 0; idx < result.length; idx++)
            {
                var synonyms = "";
                for (var si = 0; si < result[idx].Synonyms.length; si++)
                {
                    synonyms += result[idx].Synonyms[si] + "\n";
                }
                select_obj.append('<option value="' + result[idx].Id + '" title="' + synonyms + '">' + result[idx].Name + '</option>');
            }
        }

        function find_times(counties, office_names)
        {
            var ajax_dict = {
                type: "GET",
                url: "/Poll/AllDatesInJson/?counties=" + counties + "&offices=" + office_names + "&time=" + (new Date()).getTime(),
                dataType: "json",
                //data: me.data,
                processData: false,
                async: false,
                //beforeSend: function () { me.customized_before_callback(me.params); },
                //complete: function (XMLHttpRequest) { me.customized_complete_callback(me.params); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { process_times_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { process_times_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function process_times_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function process_times_succeeded(result, textStatus)
        {
            fill_times(result, $("#select_from_time"))
            fill_times(result, $("#select_to_time"))
        }

        function fill_times(result, select_obj)
        {
            select_obj.empty();
            for (var idx = 0; idx < result.length; idx++)
            {
                select_obj.append("<option value='" + result[idx] + "'>" + result[idx] + "</option>");
            }
        }



        function find_election_groups(geograph_str, office_str, time_str, referendums)
        {
            var ajax_dict = {
                type: "GET",
                url: "/Poll/ShowByGroup/?counties=" + geograph_str + "&offices=" + office_str + "&ranges=" + time_str + "&referendums=" + referendums + "&i=" + (new Date()).getTime(),
                dataType: "html",
                //data: input_data,
                processData: false,
                //processData: true,
                async: true,
                beforeSend: function () { find_election_groups_before(); },
                complete: function (XMLHttpRequest) { find_election_groups_complete(); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { find_election_groups_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { find_election_groups_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function find_election_groups_before()
        {
            $("#div_count").text("");
            $("#div_preview").html("");
            dialog_script.display_ballot_wait();
        }

        function find_election_groups_complete()
        {
            dialog_script.close_ballot_wait();
        }

        function find_election_groups_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function find_election_groups_succeeded(result, textStatus)
        {
            $("#div_preview").html(result);
            $("#div_count").text($("#div_preview").find("#num_rows").val() + " records found.");
            $("#div_preview").find("table").css("width", "100%");
        }




        function find_elections(geograph_str, office_str, time_str, referendums)
        {
            var ajax_dict = {
                type: "GET",
                url: "/Poll/Show/?fips=" + geograph_str + "&office=" + office_str + "&time=" + time_str + "&referendums=" + referendums + "&i=" + (new Date()).getTime(),
                dataType: "html",
                //data: input_data,
                processData: false,
                //processData: true,
                async: true,
                beforeSend: function () { find_elections_before(); },
                complete: function (XMLHttpRequest) { find_elections_complete(); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { find_elections_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { find_elections_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function find_elections_before()
        {
            $("#div_count").text("Please wait....");
            $("#div_preview").html("");
        }

        function find_elections_complete()
        {
        }

        function find_elections_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function find_elections_succeeded(result, textStatus)
        {
            $("#div_preview").html(result);
            $("#div_count").text($("#hidden_count_fetched").attr('value') + " out of " + $("#hidden_count_total").attr('value') + " record(s) found.");
        }

        function find_all_office_names()
        {
            var ajax_dict = {
                type: "GET",
                url: "/Poll/AllOfficeNamesInJson/?counties=&ranges=&time=" + (new Date()).getTime(),
                dataType: "json",
                //data: me.data,
                processData: false,
                async: false,
                //beforeSend: function () { me.customized_before_callback(me.params); },
                //complete: function (XMLHttpRequest) { me.customized_complete_callback(me.params); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { process_all_office_names_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { process_all_office_names_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function process_all_office_names_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            //alert(XMLHttpRequest.responseText);
            var all_offices_obj = $("#div_all_office_names");
            all_offices_obj.html("");
        }

        function process_all_office_names_succeeded(result, textStatus)
        {
            var synonyms = "";
            var all_offices_obj = $("#table_all_office_names");
            for (var idx = 0; idx < result.length; idx++)
            {
                synonyms += "<tr><td rowspan='" + result[idx].Synonyms.length + "'>" + result[idx].Name + "</td>";
                for (var si = 0; si < result[idx].Synonyms.length; si++)
                {
                    if (si > 0)
                    {
                        synonyms += "<tr>";
                    }
                    synonyms += "<td>" + result[idx].Synonyms[si] + "</td></tr>";
                }
            }
            all_offices_obj.html(synonyms);
        }



        function save_search()
        {
            var name = $("#input_search_name_to_save").attr("value");
            if (name == "")
            {
                alert("You must enter the name first");
                return;
            }

            var id = current_search_id;
            if (current_search_id != null)
            {
                if (name == current_search_name) {
                    if (!confirm("Do you really want to overwrite the current search with this change?")) return;
                }
                else
                {
                    // the name has been changed, so reset the id
                    id = null;
                }
            }

            var search_string = build_search_string();

            var ajax_dict = {
                type: "GET",
                url: "/PollSearch/Add/?id=" + id + "&name=" + name + "&search_string=" + search_string + "&i=" + (new Date()).getTime(),
                dataType: "json",
                //data: input_data,
                processData: false,
                //processData: true,
                async: true,
                beforeSend: function () { save_search_before(); },
                complete: function (XMLHttpRequest) { save_search_complete(); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { save_search_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { save_search_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function save_search_before()
        {
        }

        function save_search_complete()
        {
        }

        function save_search_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function save_search_succeeded(result, textStatus)
        {
            if (!!result.error)
            {
                alert(result.error);
                return;
            }

            dialog_script.close_data();

            current_search_id = result.id;
            current_search_name = result.name;
            current_search_string = result.search_string;
            $("#delete_button").attr("disabled", false);
            $("#current_search_name").text(result.name);
            $("#div_search_spec").html("Last modified time : " + result.modified);

            alert("The search [" + result.name + "] was successfully saved");
        }

        function list_search()
        {
            var ajax_dict = {
                type: "GET",
                url: "/PollSearch/Index/?i=" + (new Date()).getTime(),
                dataType: "html",
                //data: input_data,
                processData: false,
                //processData: true,
                async: true,
                beforeSend: function () { list_search_before(); },
                complete: function (XMLHttpRequest) { list_search_complete(); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { list_search_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { list_search_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function list_search_before()
        {
        }

        function list_search_complete()
        {
        }

        function list_search_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function list_search_succeeded(result, textStatus)
        {
            dialog_script.set_message_title("Search List");
            dialog_script.set_message_height(280);
            dialog_script.display_message(result);
        }


        function open_search(id)
        {
            var ajax_dict = {
                type: "GET",
                url: "/PollSearch/Find/?id=" + id+ "&i=" + (new Date()).getTime(),
                dataType: "json",
                //data: input_data,
                processData: false,
                //processData: true,
                async: true,
                beforeSend: function () { open_search_before(); },
                complete: function (XMLHttpRequest) { open_search_complete(); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { open_search_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { open_search_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function open_search_before()
        {
            dialog_script.close_message();
            dialog_script.display_wait();
        }

        function open_search_complete()
        {
            dialog_script.close_wait();
        }

        function open_search_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function open_search_succeeded(result, textStatus)
        {
            if (!!result.error)
            {
                alert(result.error);
                return;
            }

            initialize_queries(result.search_string);

            current_search_id = result.id;
            current_search_name = result.name;
            current_search_string = result.search_string;
            $("#delete_button").attr("disabled", false);
            $("#current_search_name").text(result.name);
            $("#div_search_spec").html("Last modified time : " + result.modified);
        }

        function delete_search(id)
        {
            var ajax_dict = {
                type: "GET",
                url: "/PollSearch/Delete/?id=" + id + "&i=" + (new Date()).getTime(),
                dataType: "json",
                //data: input_data,
                processData: false,
                //processData: true,
                async: true,
                beforeSend: function () { delete_search_before(); },
                complete: function (XMLHttpRequest) { delete_search_complete(); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { delete_search_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { delete_search_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function delete_search_before()
        {
            dialog_script.display_wait();
        }

        function delete_search_complete()
        {
            dialog_script.close_wait();
        }

        function delete_search_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function delete_search_succeeded(result, textStatus)
        {
            if (!!result.error)
            {
                alert(result.error);
                return;
            }

            reset_queries();

            current_search_id = null;
            current_search_name = null;
            current_search_string = null;
            $("#delete_button").attr("disabled", "disabled");
            $("#current_search_name").text("");
            $("#div_search_spec").html("");
        }

        function send_email()
        {
            var name = $("#input_send_email_name").val();
            var email_address = $("#input_send_email_email_address").val();

            var ajax_dict = {
                type: "POST",
                url: "/Account/SendEmail/?name=" + name + "&email_address=" + email_address + "&i=" + (new Date()).getTime(),
                dataType: "json",
                processData: false,
                async: true,
                beforeSend: function () { send_email_before(); },
                complete: function (XMLHttpRequest) { send_email_complete(); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { send_email_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { send_email_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function send_email_before()
        {
            $("#send_email_wait_message").show();
        }

        function send_email_complete()
        {
            $("#send_email_wait_message").hide();
        }

        function send_email_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function send_email_succeeded(result, textStatus)
        {
            if (!!result.error)
            {
                alert(result.error);
                return;
            }
            alert("The email has been successfully sent.");
            dialog_script.close_data();
        }

    </script>

}

    <div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
        <div style="width:960px;" class="loc_center">
            <h1 style="height:50px;line-height:50px">Data</h1>
        </div>
    </div>
    <br />

    <div class="container-fluid loc_center" style="width:960px;padding:0px;">
        <h2 style="color:#EE3824">Explore Data</h2>
        <div id="div_data_down_help_text_view">
            <div id="div_data_down_help_text">
            </div>
        </div>
        <div id="div_data_down_help_text_edit" style="display:none">
            <textarea id="text_data_down_help_text_edit" style="width:600px;height:200px"></textarea>
            <button id="ok_button_data_down_help_text" class="btn yellow" type="button" style="height:40px;">OK</button>
            <button id="cancel_button_data_down_help_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
        </div>
    </div>
    <br />

    <div id="office_names_div" class="container-fluid loc_center" style="padding:0px;display:none">
        <table id="table_all_office_names" class="table-bordered" style="font-size:12px"></table>
    </div>

    <div id="sample_div" class="container-fluid loc_center" style="width:960px;padding:0px;display:none">
        <div id="div_data_down_sample_col1_text_view" style="width:300px; float:left; font-size:12px">
            <div id="div_data_down_sample_col1_text">
            </div>
        </div>
        <div id="div_data_down_sample_col1_text_edit" style="display:none">
            <textarea id="text_data_down_sample_col1_text_edit" style="width:600px;height:200px"></textarea>
            <button id="ok_button_data_down_sample_col1_text" class="btn yellow" type="button" style="height:40px;">OK</button>
            <button id="cancel_button_data_down_sample_col1_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
        </div>
        <div id="div_data_down_sample_col2_text_view" style="width:300px; float:left; margin-left:20px; font-size:12px">
            <div id="div_data_down_sample_col2_text">
            </div>
        </div>
        <div id="div_data_down_sample_col2_text_edit" style="display:none">
            <textarea id="text_data_down_sample_col2_text_edit" style="width:600px;height:200px"></textarea>
            <button id="ok_button_data_down_sample_col2_text" class="btn yellow" type="button" style="height:40px;">OK</button>
            <button id="cancel_button_data_down_sample_col2_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
        </div>
        <div id="div_data_down_sample_col3_text_view" style="width:300px; float:left; margin-left:20px; font-size:12px">
            <div id="div_data_down_sample_col3_text">
            </div>
        </div>
        <div id="div_data_down_sample_col3_text_edit" style="display:none">
            <textarea id="text_data_down_sample_col3_text_edit" style="width:600px;height:200px"></textarea>
            <button id="ok_button_data_down_sample_col3_text" class="btn yellow" type="button" style="height:40px;">OK</button>
            <button id="cancel_button_data_down_sample_col3_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
        </div>
        <div style="clear:both;"></div>
    </div>
    <br />

    <div id="tabs" class="loc_center" style="width:960px;background-color:#E0EEF6;padding:0px">

        <ul>
            <li><a href="#tabs-av" class="tab_title">AVAILABILITY</a></li>
            <li><a href="#tabs-ex" class="tab_title">DOWNLOAD</a></li>
        </ul>
        <div id="tabs-av" style="height:530px;">
        </div>
        <div id="tabs-ex" style="background-color:#E0EEF6;margin:0px;padding:0px;font-size:12px">
            <div class="container-fluid">
                @if (Request.IsAuthenticated)
                {
                    <div class="container-fluid" style="margin-top:10px;">
                        <div style="float:right;font-size:10px">
                           Search Name : <span id="current_search_name"></span>&nbsp;&nbsp;
                            <img id="open_button" src="~/Images/open-icon.png" style="cursor:pointer" />&nbsp;&nbsp;
                            <img id="save_button" src="~/Images/save-icon.png" style="cursor:pointer" />&nbsp;&nbsp;
                            <img id="delete_button" src="~/Images/trash-icon.png" style="cursor:pointer" /><br />
                        </div>
                    </div>
                    <div class="container-fluid" style="margin-top:10px;">
                        <div style="float:right;font-size:10px">
                            <div id="div_search_spec" style="float:right"></div>
                        </div>
                    </div>
                }
                <div class="container-fluid" style="width:940px;margin-top:10px;padding:0px">
                    <div style="background-color:#ffffff;width:270px;height:300px;float:left;padding:10px;border:solid;border-width:1px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px;">
                        Filter 1<br />
                        <select id="select_group_1" style="vertical-align:baseline;width:240px;margin-top:10px">
                            <option value=""></option>
                            <option value="geography">Geography</option>
                            <option value="office">Office</option>
                            <option value="time">Time</option>
                        </select>&nbsp;<img src="~/Images/more-info-icon.png" />
                        <hr style="margin-top:10px;margin-bottom:10px" />
                        <div id="div_group_1" class="span4">
                        </div>
                    </div>
                    <div style="margin-left:20px;background-color:#ffffff;width:270px;height:300px;float:left;padding:10px;border:solid;border-width:1px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px;">
                        Filter 2<br />
                        <select id="select_group_2" style="vertical-align:baseline;width:240px;margin-top:10px"></select>&nbsp;<img src="~/Images/more-info-icon.png" />
                        <hr style="margin-top:10px;margin-bottom:10px" />
                        <div id="div_group_2" class="span4">
                        </div>
                    </div>
                    <div style="margin-left:20px;background-color:#ffffff;width:270px;height:300px;float:left;padding:10px;border:solid;border-width:1px;-moz-border-radius-topleft:5px;border-top-left-radius:5px;-moz-border-radius-topright:5px;border-top-right-radius:5px;-moz-border-radius-bottomleft:5px;border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;border-bottom-right-radius:5px;">
                        Filter 3<br />
                        <select id="select_group_3" style="vertical-align:baseline;width:240px;margin-top:10px"></select>&nbsp;<img src="~/Images/more-info-icon.png" />
                        <hr style="margin-top:10px;margin-bottom:10px" />
                        <div id="div_group_3" class="span4">
                        </div>
                    </div>
                </div>
                <br />
                <div class="container-fluid" style="width:940px;padding:0px">
                    <div id="div_criteria_geography" style="float:left;">
                        <div style="height:25px">Criteria for Geography</div>
                        <select id="select_criteria_geography" size="5" style="width:290px;height:120px;padding:1px;vertical-align:baseline;">
                        </select>
                    </div>
                    <div id="div_criteria_office" style="float:left;margin-left:20px;">
                        <div style="height:25px">Criteria for Office <input type="checkbox" id="referendums_check" style="margin-left:40px; height:10px;width:10px" /> Referendums</div>
                        <select id="select_criteria_office" size="5" style="width:290px;height:120px;padding:1px;vertical-align:baseline;">
                        </select>
                    </div>
                    <div id="div_criteria_time" style="float:left;margin-left:20px;">
                        <div style="height:25px">Criteria for Time</div>
                        <select id="select_criteria_time" size="5" style="width:290px;height:120px;padding:1px;vertical-align:baseline;">
                        </select>
                    </div>
                </div>
                <br />
                <div class="container-fluid" style="width:940px;padding:0px">
                    <a href="#" id="search_button" class="btn yellow">Find Elections</a>
                </div>
                <br />

                <div class="container-fluid loc_center" style="width:940px;padding:0px;">
                    <div id="div_data_down_purchase_text_view">
                        <div id="div_data_down_purchase_text">
                        </div>
                    </div>
                    <div id="div_data_down_purchase_text_edit" style="display:none">
                        <textarea id="text_data_down_purchase_text_edit" style="width:600px;height:200px"></textarea>
                        <button id="ok_button_data_down_purchase_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                        <button id="cancel_button_data_down_purchase_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                    </div>
                </div>
                <br />

                <div class="container-fluid" style="width:910px;padding:0px">
                    <div id="div_count" style="float:right"></div>
                    <br />
                    <div id="div_preview" style="height:300px;border:solid;border-width:1px;border-color:silver;overflow:auto;background-color: #ffffff;">
                    </div>
                </div>
                <br />
                <div style="float:right">
                    <a href="#" id="purchase_button" class="btn yellow">Preview Election Results</a>
                </div>
            </div>        
        </div>

        <div id="div_queries" style="display:none">
            <div id="div_geography">
                <div id="div_choice_geography" style="height:200px;padding:0px;overflow:auto">
                    <div style="width:110px;height:24px;float:left;color:#0075BD">State</div>
                    <div style="width:150px;height:24px;float:left;color:#0075BD;margin-left:5px">County</div>
                    <div style="width:110px;height:24px;float:left;margin-top:10px">
                        <select id="select_state" size="5" style="width:110px;height:120px;padding:1px;vertical-align:baseline;">
                        </select>
                    </div>
                    <div style="width:150px;height:24px;float:left;margin-top:10px;margin-left:5px">
                        <select id="select_county" multiple style="width:150px;height:120px;padding:1px;vertical-align:baseline;">
                        </select>
                    </div>
                </div>
                <div style="padding:0px;margin-top:-30px">
                    <a href="#" id="add_geography_criteria_button" class="btn red small">Add Criteria</a>
                    <a href="#" id="reset_geography_criteria_button" class="btn red small">Reset Criteria</a>
                </div>
            </div>

            <div id="div_office">
                <div id="div_added_office" style="height:200px;padding:0px;overflow:auto">
                    <div style="width:260px;height:24px;float:left;color:#0075BD">Office Title</div>
                    <div style="width:260px;height:24px;float:left;margin-top:10px">
                        <select id="select_office" multiple style="width:250px;height:120px;padding:1px;vertical-align:top">
                        </select>
                    </div>
                </div>
                <div style="padding:0px;margin-top:-30px">
                    <a href="#" id="add_office_criteria_button" class="btn red small">Add Criteria</a>
                    <a href="#" id="reset_office_criteria_button" class="btn red small">Reset Criteria</a>
                </div>
            </div>

            <div id="div_time">
                <div id="div_added_time" style="height:200px;padding:0px;overflow:auto">
                    <div style="float:left;width:110px;color:#0075BD;">From</div><br />
                    <select id="select_from_time" style="width:160px;height:24px;padding:1px;vertical-align:top;margin-top:10px">
                    </select>
                    <div style="float:left;width:130px;color:#0075BD;margin-top:10px">To</div><br />
                    <select id="select_to_time" style="width:160px;height:24px;padding:1px;vertical-align:top;margin-top:10px">
                    </select>
                </div>
                <div style="padding:0px;margin-top:-30px">
                    <a href="#" id="add_time_criteria_button" class="btn red small">Add Criteria</a>
                    <a href="#" id="reset_time_criteria_button" class="btn red small">Reset Criteria</a>
                </div>
            </div>
        </div>
    </div>

@Html.Partial("_DivDialog")
