﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>Poll Results</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dialog_script.js"></script>
</head>
<body style="margin:10px;padding:10px">
    <h2>Election Results</h2>
    <div style="font-size:12px">
        <div class="container-fluid">
            <div style="float:right"><a href="#" id="export_button" class="btn yellow" style="display:none">Export To Excel</a></div>
        </div>
        <br />
        <div id="div_result">
        </div>
    </div>

    @Html.Partial("_DivDialog")

</body>
</html>

<script type="text/javascript">

    var dialog_script = null;

    $(document).ready(function () {

        dialog_script = new DialogScript();
        
        var start_index = @ViewBag.start_index;
        var fips = '@ViewBag.fips';
        var office = '@ViewBag.office';
        var time = '@ViewBag.time';
        var referendums = '@ViewBag.referendums';
        var query_string = "?start=" + start_index + "&fips=" + fips + "&office=" + office + "&time=" + time + "&referendums=" + referendums + "&i=" + (new Date()).getTime();

        find_candidates(query_string);

        $("#export_button").click(function () {
            window.open("/Poll/ExportToExcel/" + query_string, "_blank");
        });
    });

    function find_candidates(query_string) {

        var ajax_dict = {
            type: "GET",
            url: "/Poll/Show/" + query_string,
            dataType: "html",
            //data: me.data,
            processData: false,
            async: true,
            beforeSend: function () { before_process(); },
            complete: function (XMLHttpRequest) { complete_process(); },
            error: function (XMLHttpRequest, textStatus, errorThrown) { process_failed(XMLHttpRequest, textStatus, errorThrown); },
            success: function (result, textStatus) { process_succeeded(result, textStatus); }
        }

        $.ajax(ajax_dict);
    }

    function before_process() {
        //$("#div_count").text("Please wait....");
        $("#div_count").text("");
        dialog_script.display_ballot_wait();
    }

    function complete_process() {
        dialog_script.close_ballot_wait();
    }

    function process_failed(XMLHttpRequest, textStatus, errorThrown) {
        alert(XMLHttpRequest.responseText);
    }

    function process_succeeded(result, textStatus)
    {
        $("#div_result").html(result);

        //alert($("#hidden_is_admin").attr('value'));
        var is_admin = ($("#hidden_is_admin").attr('value') == 'true');
        var count_total = parseInt($("#hidden_count_total").attr('value'));
        var start_index = parseInt($("#hidden_start_index").attr('value'));
        var num_rows = parseInt($("#hidden_num_rows").attr('value'));

        //if (count_fetched != count_total)
        if(!is_admin)
        {
            if (num_rows < count_total)
            {
                alert("Only first " + num_rows + " displayed out of " + count_total + " records");
            }
            $("#div_count").text(num_rows + " out of " + count_total + " record(s) found.");
        }
        else
        {
            $("#div_count").text((start_index + 1) + " - " + (start_index + num_rows) + " out of " + count_total + " record(s)");
        }

        if ('@User.Identity.Name' != "")
        {
            $("#export_button").show();
            $("#div_message").hide();
        }
        else
        {
            $("#export_button").hide();
            $("#div_message").show();
        }
    }

    /*function format_date(date) {
        var d = date.getDate();
        var m = date.getMonth() + 1;
        var y = date.getFullYear();
        return '' + (m <= 9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d) + '-' + y;
    }*/
</script>
