﻿@model IEnumerable<Leap.Models.State>

@{
    ViewBag.Title = "Data";
}

@section Scripts{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDYbadKvPbz35-4NiP46cI7XMqoYUzfz-k&sensor=false"></script>
	<script type="text/javascript" src="~/Scripts/markerclusterer.js"></script>
	<script type="text/javascript" src="~/Scripts/geoxml3.js"></script>
	<script type="text/javascript" src="~/Scripts/geomarker.js"></script>
	<script type="text/javascript" src="~/Scripts/geobounds.js"></script>
    <script type="text/javascript" src="~/Scripts/county.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.columnizer.js"></script>

    <script type="text/javascript">

        var map_initialized = false;
        var dialog_script = null;

        var selected_state = null;
        var selected_state_poly = null;

        $(document).ready(function () {

            dialog_script = new DialogScript();

            $("#menu_table").find("td").each(function () {
                $(this).removeClass("focused");
            });
            $("#menu_table").find("#data").addClass("focused");

            $("#tabs").tabs();
            $('#tabs').tabs('select', "tabs-@ViewBag.tab");

            // Now, support text editing
            init_text_edit("data_avail_help", '@ViewBag.view');

            initialize();
            map_initialized = true;

            $('#tabs, #tabs-av').tabs({
                select: function (event, ui) {
                    window.open("/Poll/Download/", "_self");
                }
            });

            /*$("#view_map_select").change(function ()
            {
                if (selected_state == null || selected_state_poly == null) return;
                display_state_map(selected_state, selected_state_poly, true);
            });*/

            $("#download_button").click(function ()
            {
                window.open("/Map/AllStateMatrix/", "_blank");
            });

            if ($.browser.msie && $.browser.version < 10)
            {
                $('#div_data_avail_help_text').columnize({ column: 2 });
                $('#div_data_avail_help_text').css("padding", "10px");
            }
            else
            {
                $('#div_data_avail_help_text').addClass("col-2-div");
            }
        });

        function find_matrix(state_fips)
        {
            var ajax_dict = {
                type: "GET",
                //url: "/Poll/Find/",
                url: "/Map/Matrix/?fips=" + state_fips + "&i=" + (new Date()).getTime(),
                dataType: "html",
                //data: input_data,
                processData: false,
                //processData: true,
                async: true,
                beforeSend: function () { find_matrix_before(); },
                complete: function (XMLHttpRequest) { find_matrix_complete(); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { find_matrix_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { find_matrix_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function find_matrix_before()
        {
        }

        function find_matrix_complete()
        {
        }

        function find_matrix_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function find_matrix_succeeded(result, textStatus)
        {
            $("#table_matrix").html(result);
        }

        function find_county_matrix(state_fips, county_fips)
        {
            var ajax_dict = {
                type: "GET",
                //url: "/Poll/Find/",
                url: "/Map/CountyMatrix/?state=" + state_fips + "&county=" + county_fips + "&i=" + (new Date()).getTime(),
                dataType: "html",
                //data: input_data,
                processData: false,
                //processData: true,
                async: true,
                beforeSend: function () { find_county_matrix_before(); },
                complete: function (XMLHttpRequest) { find_county_matrix_complete(); },
                error: function (XMLHttpRequest, textStatus, errorThrown) { find_county_matrix_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function (result, textStatus) { find_county_matrix_succeeded(result, textStatus); }
            }

            $.ajax(ajax_dict);
        }

        function find_county_matrix_before()
        {
        }

        function find_county_matrix_complete()
        {
        }

        function find_county_matrix_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function find_county_matrix_succeeded(result, textStatus)
        {
            $("#table_detail_matrix").html(result);
        }

    </script>
}

    <div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
        <div style="width:960px;" class="loc_center">
            <h1 style="height:50px;line-height:50px">Data</h1>
        </div>
    </div>
    <br />

    <div class="container-fluid loc_center" style="width:960px;padding:0px;">
        <div id="div_data_avail_help_text_view">
            <h2 style="color:#EE3824">LEAP Elections Data Availability</h2>
            <div id="div_data_avail_help_text">
            </div>
        </div>
        <div id="div_data_avail_help_text_edit" style="display:none">
            <textarea id="text_data_avail_help_text_edit" style="width:600px;height:200px"></textarea>
            <button id="ok_button_data_avail_help_text" class="btn yellow" type="button" style="height:40px;">OK</button>
            <button id="cancel_button_data_avail_help_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
        </div>
    </div>
    <br />

    <div id="tabs" class="loc_center" style="width:960px;padding:0px;background-color:#E0EEF6;">
        <ul>
            <li><a href="#tabs-av" class="tab_title">AVAILABILITY</a></li>
            <li><a href="#tabs-ex" class="tab_title">DOWNLOAD</a></li>
        </ul>
        <div id="tabs-av" style="background-color:#E0EEF6">
            <div id="map_canvas" style="width:920px;height:430px" class="map"></div>
            <br />
            <div style="display:none">
                <select id="view_map_select">
                    <option value="county">County</option>
                    <option value="school_marker_kml">School District (KML)</option>
                    <option value="school_marker_db">School District (Coordinate)</option>
                </select>
            </div>
            <div id="div_search" style="width:920px;">
                <table id="table_matrix" class="table-bordered" style="width:100%;background-color: #ffffff;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ELECTIONS</th>
                            <th>PLACES</th>
                            <th>CANDIDATES</th>
                            <th>YEARS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Federal</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>County</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Municipal</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>School District</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Special District</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <br />
                <table id="table_detail_matrix" class="table-bordered" style="width:100%;background-color: #ffffff;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Elections</th>
                            <th>Places</th>
                            <th>Candidates</th>
                            <th>Years</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>County</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div style="font-size:10px;float:right">
                    * Years are not consecutive.
                </div>
                <br />
                <div style="text-align:center">
                    <button id="download_button" class="btn yellow loc_center" type="button" style="height:40px">
                        Downloadable state by state summary
                    </button>
                </div>
                <br />
            </div>
        </div>

        <div id="tabs-ex" style="background-color:#E0EEF6;margin:0px;padding:0px">
        </div>

    </div>
@Html.Partial("_DivDialog")
