﻿@model IEnumerable<Leap.ldc_results_election_candidate>

@{
    Layout = null;
}

@using Leap.Helpers

<div class="container-fluid">

@if (User.Identity.Name != "")
{
    <div style="float:left">
        <b>
        @if (ViewBag.start_index == 0)
        {
            <span>First&nbsp;&nbsp;</span><span>Prev&nbsp;&nbsp;</span> 
        }
        else
        {
            <a href='/Poll/Find/?s=0&fips=@ViewBag.fips&office=@ViewBag.office&time=@ViewBag.time&referendums=@ViewBag.referendums'>First&nbsp;&nbsp;</a>
            <a href='/Poll/Find/?s=@(ViewBag.start_index - ViewBag.num_rows)&fips=@ViewBag.fips&office=@ViewBag.office&time=@ViewBag.time&referendums=@ViewBag.referendums'>Prev&nbsp;&nbsp;</a>
        }
    
        @if (ViewBag.start_index + ViewBag.num_rows >= ViewBag.count)
        {
            <span>Next&nbsp;&nbsp;</span><span>Last&nbsp;&nbsp;</span>
        }
        else
        {
            <a href='/Poll/Find/?s=@(ViewBag.start_index + ViewBag.num_rows)&fips=@ViewBag.fips&office=@ViewBag.office&time=@ViewBag.time&referendums=@ViewBag.referendums'>Next&nbsp;&nbsp;</a>
            <a href='/Poll/Find/?s=@(ViewBag.count - ViewBag.num_rows)&fips=@ViewBag.fips&office=@ViewBag.office&time=@ViewBag.time&referendums=@ViewBag.referendums'>Last</a>
        }
        </b>
    </div>
}
    <div id="div_count" style="float:right"></div>
</div>
<br />
<table id="candidates_table" class="table-bordered">
    <thead>
        <tr>
            <th>State</th>
            <th>County</th>
            <th>Office Name</th>
            <th>Election Date</th>
            <th>Candidate Name</th>
            <th>Candidate Total Votes</th>
            <th>Candidate PCT</th>
            <th>Candidate Win</th>
            <th>State Name</th> 
            <th>County Name</th>
            <th>Entity Name</th>
            <th>Entity Code</th>
            <th>Meta Data Name</th>
            <th>Fips Lookup Error</th>
            <th>Office AL</th>
            <th>Office District</th>
            <th>Seat Name</th>
            <th>Registered Votes</th>
            <th>Ballots Cast</th>
            <th>Timestamp</th>
            <th>Url</th>
            <th>Office Type Name</th>
            <th>Office Type Id</th>
            <th>Government Level Name</th>
            <th>Government Level Id</th>
            <th>Race Id</th>
            <th>Notes Count</th>
            <th>Page Date</th>
            <th>Election Name</th>
            <th>Leap Office Name</th>
            <th>Leap Office Name Id</th>
            <th>Election Type Desc</th>
            <th>Election Type Referendum</th>
            <th>Election Type Primary</th>
            <th>Election Type General</th>
            <th>Election Type Runoff</th>
            <th>Election Type Special</th>
            <th>Year</th>
            <th>Month</th>
            <th>Day</th>
            <th>Vote For</th>
            <th>Candidate First Name</th>
            <th>Candidate Middle Name</th>
            <th>Candidate Last Name</th>
            <th>Candidate Nick Name</th>
            <th>Candidate Name Suffix</th>
            <th>Candidate Party Id</th>
            <th>Candidate Name Type</th>
            <th>Candidate Referendum Type</th>
            <th>Candidate Incumbent</th>
            <th>Candidate Occupation</th>
            <th>Candidate PID</th>
            <th>Candidate Absent Votes</th>
            <th>Candidate Absent Pct</th>
            <th>Candidate Early Votes</th>
            <th>Candidate Early Pct</th>
            <th>Candidate Ed Votes</th>
            <th>Candidate Ed Pct</th>
            <th>Candidate Mail Votes</th>
            <th>Candidate Mail Pct</th>
            <th>Results Election Id</th>
            <th>Template Run Id</th>
            <th>Country Id</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayId(item.ldc_results_election.state_fips)</td>
                <td>@Html.DisplayId(item.ldc_results_election.county_fips)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.office_name)</td>
                <td>@Html.DisplayDate(item.ldc_results_election.election_date)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_name)</td>
                <td>@Html.DisplayId(item.candidate_total_votes)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_pct)</td>
                <td>@Html.DisplayId(item.candidate_win)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.list_loc_key.state_abbrev)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.list_loc_key.county_name)</td>
                <td>@Html.DisplayEntityName(item.ldc_results_election.state_fips, item.ldc_results_election.county_fips, item.ldc_results_election.entity_code)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.entity_code)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.meta_data_log.meta_data_name)</td>
                <td>@Html.DisplayId(item.ldc_results_election.fips_lookup_error)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.office_al)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.office_district)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.seat_name)</td>
                <td>@Html.DisplayId(item.ldc_results_election.registered_votes)</td>
                <td>@Html.DisplayId(item.ldc_results_election.ballots_cast)</td>
                <td>@Html.DisplayFor(modeItem => item.ldc_results_election.timestamp)</td>
                <td>@Html.DisplayFor(modeItem => item.ldc_results_election.url)</td>
                <td>@Html.DisplayFor(modeItem => item.ldc_results_election.list_office_type.office_type_name)</td>
                <td>@Html.DisplayId(item.ldc_results_election.office_type_id)</td>
                <td>@Html.DisplayFor(modeItem => item.ldc_results_election.list_government_level.government_level_name)</td>
                <td>@Html.DisplayId(item.ldc_results_election.government_level_id)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.race_id)</td>
                <td>@Html.DisplayId(item.ldc_results_election.notes_count)</td>
                <td>@Html.DisplayDate(item.ldc_results_election.page_date)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.election_name)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.list_leap_office_name.leap_office_name)</td>
                <td>@Html.DisplayId(item.ldc_results_election.leap_office_name_id)</td>
                <td>@Html.DisplayFor(modelItem => item.ldc_results_election.election_type_desc)</td>
                <td>@Html.DisplayElectionType(item.ldc_results_election.election_type_referendum)</td>
                <td>@Html.DisplayElectionType(item.ldc_results_election.election_type_primary)</td>
                <td>@Html.DisplayElectionType(item.ldc_results_election.election_type_general)</td>
                <td>@Html.DisplayElectionType(item.ldc_results_election.election_type_runoff)</td>
                <td>@Html.DisplayElectionType(item.ldc_results_election.election_type_special)</td>
                <td>@Html.DisplayId(item.ldc_results_election.year_int)</td>
                <td>@Html.DisplayId(item.ldc_results_election.month_int)</td>
                <td>@Html.DisplayId(item.ldc_results_election.day_int)</td>
                <td>@Html.DisplayId(item.ldc_results_election.vote_for_int)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_first_name)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_middle_name)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_last_name)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_nick_name)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_name_suffix)</td>
                <td>@Html.DisplayId(item.candidate_party_id)</td>
                <td>@Html.DisplayId(item.candidate_name_type)</td>
                <td>@Html.DisplayId(item.candidate_referendum_type)</td>
                <td>@Html.DisplayId(item.candidate_incumbent)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_occupation)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_pid)</td>
                <td>@Html.DisplayId(item.candidate_absent_votes)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_absent_pct)</td>
                <td>@Html.DisplayId(item.candidate_early_votes)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_early_pct)</td>
                <td>@Html.DisplayId(item.candidate_ed_votes)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_ed_pct)</td>
                <td>@Html.DisplayId(item.candidate_mail_votes)</td>
                <td>@Html.DisplayFor(modelItem => item.candidate_mail_pct)</td>
                <td>@Html.DisplayId(item.ldc_results_election.results_election_id)</td>
                <td>@Html.DisplayId(item.ldc_results_election.template_run_id)</td>
                <td>@Html.DisplayId(item.ldc_results_election.country_id)</td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" id="hidden_num_rows" value="@Model.Count()" />
<input type="hidden" id="hidden_count_total" value="@ViewBag.count" />
<input type="hidden" id="hidden_is_admin" value="@ViewBag.is_admin" />
<input type="hidden" id="hidden_start_index" value="@ViewBag.start_index" />
<!--<input type="hidden" id="hidden_num_rows" value="@ViewBag.num_rows" />-->
<br />

@if (User.Identity.Name != "")
{
<div>
    <b>
    @if (ViewBag.start_index == 0)
    {
        <span>First&nbsp;&nbsp;</span><span>Prev&nbsp;&nbsp;</span> 
    }
    else
    {
        <a href='/Poll/Find/?s=0&fips=@ViewBag.fips&office=@ViewBag.office&time=@ViewBag.time&referendums=@ViewBag.referendums'>First&nbsp;&nbsp;</a>
        <a href='/Poll/Find/?s=@(ViewBag.start_index - ViewBag.num_rows)&fips=@ViewBag.fips&office=@ViewBag.office&time=@ViewBag.time&referendums=@ViewBag.referendums'>Prev&nbsp;&nbsp;</a>
    }
    
    @if (ViewBag.start_index + ViewBag.num_rows >= ViewBag.count)
    {
        <span>Next&nbsp;&nbsp;</span><span>Last&nbsp;&nbsp;</span>
    }
    else
    {
        <a href='/Poll/Find/?s=@(ViewBag.start_index + ViewBag.num_rows)&fips=@ViewBag.fips&office=@ViewBag.office&time=@ViewBag.time&referendums=@ViewBag.referendums'>Next&nbsp;&nbsp;</a>
        <a href='/Poll/Find/?s=@(ViewBag.count - ViewBag.num_rows)&fips=@ViewBag.fips&office=@ViewBag.office&time=@ViewBag.time&referendums=@ViewBag.referendums'>Last</a>
    }
    </b>
</div>
}

