﻿@model IEnumerable<Leap.Models.ElectionByGroup>

@{
    Layout = null;
}

@using Leap.Helpers

<table id="show_by_group_table" class="table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>State</th>
            <th>County</th>
            <th>OfficeName</th>
            <th>Date</th>
            <th>Count</th>
            <th>RunDate</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.StateName)</td>
                <td>@Html.DisplayFor(modelItem => item.CountyName)</td>
                <td>@Html.DisplayFor(modelItem => item.LeapOfficeName)</td>
                <td>@Html.DisplayFor(modelItem => item.ElectionDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ElectionCount)</td>
                <td>@Html.DisplayFor(modelItem => item.TemplateRunDate)</td>
            </tr>
        }

    </tbody>
</table>
<input type="hidden" id="num_rows" value="@Model.Count()" />
