﻿@model IEnumerable<Leap.leap_event>

@{
    Layout = null;
}

@using Leap.Helpers

    @foreach (var item in Model) {
        if (@ViewBag.page == "index")
        {
        <div class="container-flud" style="width:100%">
            <div id="div_event_text_view_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" style="display:none">
                <div class="date_box">
                    <span id="span_event_text_month_view_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" class="month">
                        @Html.DisplayMonthInThreeLeters(item.date)
                    </span>
                    <br />
                    <span id="span_event_text_day_view_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" class="day">
                        @Html.DisplayDayInTwoDigits(item.date)
                    </span>
                </div>
                <div class="date_desc">
                    <span id="span_event_text_summary_view_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)">
                        @Html.DisplayFor(modelItem => item.summary)
                    </span>
                    <br />
                    <a href='/Event/Find/?id=@Html.DisplayFor(modelItem => item.id)' class='link'>READ MORE</a>
                </div>
            </div>
            <div id="div_event_text_edit_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)">
                <input type="text" id="text_event_date_edit_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" style="width:200px" value="@Html.DisplayDate(item.date)" />
                <!--<input type="text" id="text_event_day_edit_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" style="width:50px" value="@Html.DisplayDayInTwoDigits(item.date)" />-->
                <textarea id="text_event_summary_edit_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" style="width:400px;height:30px">@Html.DisplayFor(modelItem => item.summary)</textarea>
                <textarea id="text_event_detail_edit_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" style="width:400px;height:50px">@Html.DisplayFor(modelItem => item.detail)</textarea>
                <button id="ok_button_event_edit_text_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" class="btn yellow" type="button" style="height:40px;">OK</button>
                <button id="cancel_button_event_edit_text_@Html.DisplayFor(modelItem => item.id)" class="btn yellow" type="button" style="height:40px;">Cancel</button>
            </div>
        </div>
        <br/>
        }
        else if(@ViewBag.page == "about")
        {
            <div style="color:#0075BD;font-weight:bold;margin-top:10px">@Html.DisplayDateInThreeLetterMonth(item.date)</div>
            <div>
                @Html.DisplayFor(modelItem => item.summary)
                <br />
                <a href='/Event/Find/?id=@Html.DisplayFor(modelItem => item.id)' class='yellow_link'>READ MORE</a>
            </div>
        }
    }
