﻿
@model Leap.leap_event

@{
    ViewBag.Title = "Find";
}

@using Leap.Helpers

    <div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
        <div style="width:960px;" class="loc_center">
            <h1 style="height:50px;line-height:50px">News</h1>
        </div>
    </div>
    <br />
    <div class="container-fluid loc_center" style="width:960px;">
        <div style="width:570px;float:left;">
            <div id="div_post">
                <div>
                    <div>
                        <h2 id="h2_latest_posts" style="color:#EE3824;margin-left:0px">@Model.summary</h2>
                    </div>
                </div>

                    <div class="container-flud" style="width:100%">
                        <div>
                            @Html.DisplayDate(@Model.date) by @Model.author
                            <br />
                            <br />
                            @Html.Raw(@Model.detail)
                        </div>

                    </div>
                    <br/>
            </div>
        </div>
        <div style="width:50px;float:left">&nbsp;</div>
        <div style="background-color:#E0EEF6;width:320px;float:left;margin-top:40px" class="round_box">
            <div style="margin:6px;padding:6px">
                <div style="font-weight:bold">ARCHIVES</div>
                <hr style="margin:5px 0px" />
                <div id="div_archives">
                    @foreach (var year_archive in ViewBag.archives)
                    {
                        <div class="container-flud" style="width:100%">
                            <div>
                                <h4 style="color:#0075BD;margin:5px 0px">@year_archive.Year</h4>
                                @foreach (var month_archive in year_archive.MonthArchiveList)
                                {
                                    <div>
                                        @month_archive.MonthInStr ( @month_archive.Count )
                                    </div>
                                }
                            </div>
                        </div>
                        <br/>
                    }
                </div>
            </div>
        </div>
    </div>
