﻿@model IEnumerable<Leap.leap_event>

@{
    ViewBag.Title = "News";
}

@using Leap.Helpers

@section Scripts{
    <script type="text/javascript" src="~/Scripts/event.js"></script>
    <script type="text/javascript">

        var dialog_script = null;

        $(document).ready(function () {

            dialog_script = new DialogScript();

            // support event texts
            $("#h2_latest_posts").click(function () {
                if ('@ViewBag.view' != 'edit') return;
                $("#div_event_text_new").css("display", "inline");
            });
            $("#ok_button_event_new_text").click(function () {
                update_event(-1, $("#text_event_date_new").val(), $("#text_event_author_new").val(), $("#text_event_summary_new").val(), $("#text_event_detail_new").val(), refresh);
                //find_all_events(3, $("#div_events"), 'index', 'ViewBag.view');
            });
            $("#cancel_button_event_new_text").click(function () {
                display_event_view();
            });

            $("h4[id^='h4_event_text_summary_view_']").click(function () {
                if ('@ViewBag.view' != 'edit') return;
                display_event_view();
                display_event_edit($(this).attr("eid"));
            });
            $("button[id^='ok_button_event_edit_text_']").click(function () {
                var id = $(this).attr("eid");
                var date = $("#text_event_date_edit_" + id).attr("value");
                var author = $("#text_event_author_edit_" + id).val();
                var summary = $("#text_event_summary_edit_" + id).val();
                var detail = $("#text_event_detail_edit_" + id).val();
                update_event(id, date, author, summary, detail, refresh);
                //find_all_events(3, $("#div_events"), '@ViewBag.page', '@ViewBag.view');
            });
            $("button[id^='cancel_button_event_edit_text_']").click(function () {
                display_event_view();
            });
        });

        function refresh() {
            window.open("./?view=@ViewBag.view", "_self");
        }

    </script>
}


    <div class="container-fluid" style="background-color:#F3F5F8;height:100px;">
        <div style="width:960px;" class="loc_center">
            <h1 style="height:50px;line-height:50px">News</h1>
        </div>
    </div>
    <br />
    <div class="container-fluid loc_center" style="width:960px;">
        <div style="width:570px;float:left;">
            <div id="div_post">
                <div style="border-bottom:solid;border-bottom-width:1px;border-bottom-color:#5A5A5A;">
                    <div>
                        <h2 id="h2_latest_posts" style="color:#EE3824;margin-left:0px">Latest Posts</h2>
                    </div>
                </div>

                <div class="container-flud" style="width:100%">
                    <div id="div_event_text_new" style="display:none">
                        Date : <input type="text" id="text_event_date_new" style="width:200px" /><br />
                        Author : <input type="text" id="text_event_author_new" style="width:200px" /><br />
                        Summary : <textarea id="text_event_summary_new" style="width: 400px; height: 30px"></textarea><br />
                        Content : <textarea id="text_event_detail_new" style="width:400px;height:50px"></textarea><br />
                        <button id="ok_button_event_new_text" class="btn yellow" type="button" style="height:40px;">OK</button>
                        <button id="cancel_button_event_new_text" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                    </div>
                </div>
                <br />

                @foreach (var item in Model) {
                    <div class="container-flud" style="width:100%">
                        <div id="div_event_text_view_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)">
                            <h4 id="h4_event_text_summary_view_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)">
                                @Html.DisplayFor(modelItem => item.summary)
                            </h4>
                            @Html.DisplayDate(item.date) by @Html.DisplayFor(modelItem => item.author)
                            <br />
                            @if(item.detail.Length < 200)
                            {
                                @Html.DisplayFor(modelItem => item.detail)
                            }
                            else
                            {
                                @Html.Raw(item.detail.ToString().Substring(0, 200)) <span>...</span>
                            }
                            <br />
                            <a href='/Event/Find/?id=@Html.DisplayFor(modelItem => item.id)' class='link' style="font-weight:bold;color:#0075BD">READ MORE</a>
                        </div>
                        <div id="div_event_text_edit_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" style="display:none">
                            Date : <input type="text" id="text_event_date_edit_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" style="width:200px" value="@Html.DisplayDate(item.date)" /><br />
                            Author : <input type="text" id="text_event_author_edit_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" style="width:200px" value="@Html.DisplayFor(modelItem => item.author)" /><br />
                            Summary : <textarea id="text_event_summary_edit_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" style="width:400px;height:30px">@Html.DisplayFor(modelItem => item.summary)</textarea><br />
                            Content : <textarea id="text_event_detail_edit_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" style="width:400px;height:50px">@Html.DisplayFor(modelItem => item.detail)</textarea><br />
                            <button id="ok_button_event_edit_text_@Html.DisplayFor(modelItem => item.id)" eid="@Html.DisplayFor(modelItem => item.id)" class="btn yellow" type="button" style="height:40px;">OK</button>
                            <button id="cancel_button_event_edit_text_@Html.DisplayFor(modelItem => item.id)" class="btn yellow" type="button" style="height:40px;">Cancel</button>
                        </div>


                    </div>
                    <br/>
                }
            </div>
        </div>
        <div style="width:50px;float:left">&nbsp;</div>
        <div style="background-color:#E0EEF6;width:320px;float:left;margin-top:40px" class="round_box">
            <div style="margin:6px;padding:6px">
                <div style="font-weight:bold">ARCHIVES</div>
                <hr style="margin:5px 0px" />
                <div id="div_archives">
                    @foreach (var year_archive in ViewBag.archives)
                    {
                        <div class="container-flud" style="width:100%">
                            <div>
                                <h4 style="color:#0075BD;margin:5px 0px">@year_archive.Year</h4>
                                @foreach (var month_archive in year_archive.MonthArchiveList)
                                {
                                    <div>
                                        @month_archive.MonthInStr ( @month_archive.Count )
                                    </div>
                                }
                            </div>
                        </div>
                        <br/>
                    }
                </div>
            </div>
        </div>
    </div>


