﻿
@model IEnumerable<Leap.data_search>

@{
    Layout = null;
}

@using Leap.Helpers

<table class="table-bordered" style="width:100%;margin-top:10px;font-size:12px">
    <thead>
        <tr>
            <th>Name</th>
            <th>LastModified</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayDateTime(item.last_modified_datetime)</td>
                <td><a href="javascript:open_search('@item.id')" class="link_text" style="color: #a80329">Open</a></td>
            </tr>
        }
    </tbody>
</table>
